<html>
<head>

  <title>百ん</title>

  <!--ｚ  
　 z　　　   
　　z  
　＜⌒／ヽ-､_＿_  
／＜_/＿＿＿＿／  
￣￣￣￣￣￣￣νύξ-->

  <!-- meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <!-- CSS links -->
  <link href="../public/css/main.css" rel="stylesheet" type="text/css" />


  

</head>


<body>

<div id="rules">
  <p>
    <h1>Hi</h1>
    You have 5 minutes to guess the reading of as many words as possible<br>
    Your guesses must all be written in plain <b style="color:red;font-family:'yasashisa'";>ひらがな</b><br>
    If your guess is wrong, the word will then reappear after 5 words and you will have to guess it again<br>
    The correct reading is displayed as a pop-up after a wrong guess on top of the page<br>
    <br>
    This is only for learning purposes, please refrain yourself from using rikaikun or other tools<br>
    Feel free to register and log in to use the collections

    <br><br><br>
    <br><br><br>
    <br><br><br>
  </p>
  <p>Choose difficulty</p>
  <div id="diff">
    <a id="n5" href="/game?jlpt=n5">JLPT 5</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a id="n4" href="/game?jlpt=n4">JLPT 4</a>
  </div>
</div>

<header>
  <nav class="g-nav">
      <form action="/" method="GET">
        <button type="submit" class="btn-home">Game</button>
      </form>

      <form action="/collection/home" method="GET">
        <button type="submit" class="btn-collection">Collection</button>
      </form>
      <%if (logged) { %>
      <form action="/logout" method="GET">
        <button type="submit" class="btn-logout">Log Out</button>
      </form>
      <% } else{ %>  
      <form action="/login" method="POST">
        <button type="submit" class="btn-login">Log in</button>
      </form>
      <form action="/register">
        <button type="submit" class="btn-register">Register</button>
      </form>
      <% } %>         
  </nav>
</header>

<style>


  @font-face {
    font-family: "CNT";
    src: url("../public/font/square.ttf");
  }

  body {
    background-color: black;
    font-family: 'CNT';
  }


  #diff{
    margin-top: 10vh;
    width: 50%;
    margin: auto;
  }

  #diff a {
    font-size:3em;
    text-align: center;
    position: relative;
    transition: 0.5s;
  }

  #n5:after{
    background-color: rgb(0, 255, 0);
  }

  #n4:after{
    background-color: rgba(255,255,0);
  }

  #diff a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  #diff a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
</style>

</body>
</html>