<html>
<head>

  <title>存在予想</title>

  <!--ｚ  
　 z　　　   
　　z  
　＜⌒／ヽ-､_＿_  
／＜_/＿＿＿＿／  
￣￣￣￣￣￣￣νύξ
tottemo sankyuuuuuuuuu
-->

  <!-- meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <!-- CSS links -->
  <link rel="shortcut icon" type="image/x-icon" href="public/media/DiveIcon.png" />
  <link href="../public/css/home.css" rel="stylesheet" type="text/css" />
  <link href="../public/css/reset.css" rel="stylesheet" type="text/css" />
  <link href="../public/css/scanlines.css" rel="stylesheet" type="text/css" />

  <link href="../public/css/transitions.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://unpkg.com/kursor/dist/kursor.css">




  

</head>


<div id="loading-box">

</div> 
<div id="intro">
	<div id="intro_vid"></div>
	<div id="intro_vid_bg"></div>
	<h1 id="intro_welcome">Keep going</h1>
	<h1 id="intro_motto"></h1>
</div>

<body>

	<div id="pageContain">

		<div id="homeHUD">

			
			<div id="headers">
				<div id="header">

					<%if (logged) { %>

					<div id="headerLeft" class="panelRight">
						<div id="logoutContain" onclick="hrefing('/logout')">
							<div class="clipLogOut">
								<b>ログアウト</b>
							</div>
						</div>
					</div> 

					<% } else{ %>  
					
					<div id="headerLeftSplit" class="panelRight">
						<div id="loginContain" class="panelBot" onclick="hrefing('/login')">
							<div class="clipLogIn">
								<b>ログイン</b>
							</div>
						</div>
						
						<div id="registerContain" class="panelTop">
							<div class="clipRegiContainer" onclick="hrefing('/login')">
								<div class="clipRegi">
									<b>レジスター</b>
								</div>
							</div>
						</div>
					</div>

					<% } %>  

					<div id="headerRight" class="panelLeft">	

						<div class="outlineLeft">
							<h1 id="intro_motto"></h1>
							<h1 id="motto">Three <span style="color:orange;">ca</span><span style="color: black;">li</span><span style="color:white;">co</span> steps <br> At the time</h1>
						</div>

					</div>
				</div>

				<div id="headerSqueeze">

					
					<div class="header-knob header-knob-text right-hand"><span>></span><span id="playBGM"></span></div>

					<div class="header-knob header-knob-text right-hand" id="header-knobs_preferences"><span>></span><span>Settings</span></div>

					<div id="無作為"> </div>

				</div>

			</div>

			<div class="spacer">
				<div class="mask"></div>
				<div class="masker"></div>
				<span><h2>間隔</h2></span>
				<span id="か"><i>か</i></span>
				<span><h5>んかく</h5></span>
			</div>
			<div id="nichijou" class="outline">
	
				<div id="nichi-tests">
					<h2>Current level: N5</h2>
					<h3>Tests</h3>

					<div class="tests-container">
					
						<button class="n4-btn">
						<span>N4</span>
						</button>

						<button class="n3-btn">
						<span>N3</span>
						</button>

						<button class="n2-btn">
						<span>N2</span>
						</button>

						<button class="n1-btn">
						<span>N1</span>
						</button>
			
						
					</div>
				
				</div>

				<div id="shiritori" class="outline">
					<div id="main-bg"></div>
					<div id="n5" onclick="hrefing('/game?jlpt=n5')">【JLPT <b style="color: lime">5</b>】</div>
					<div id="n4" onclick="hrefing('/game?jlpt=n4')">【JLPT <b style="color: orange">4</b>】</div>
				</div>

				<div id="nichi-main">

					<div class='clock'>
						<span class='time'></span>
						<h2>until reset</h2>
            		</div>

					<div class="nichi-play">

						<button class="nichiPlay pulse">START</button>
					
					</div>

				</div>

				<div class="nichi-count">20</div>
			</div>

			<div class="spacer">
				<div class="mask"></div>
				<div class="masker"></div>
				<span><h2>理解</h2></span>
				<span id="り"><i>り</i></span>
				<span><h5>かい</h5></span>
			</div>

			<div id="rikai">

				<div class="collection">
					<button class="collection-btn pulse-collec" onclick="hrefing('/collection/home')">Collection</button>
				</div>			
			
			</div>

			<div class="spacer">
				<div class="mask"></div>
				<div class="masker"></div>
				<span><h2>擦る</h2></span>
				<span id="こ"><i>こ</i></span>
				<span><h5>する</h5></span>
			</div>
			
			<div id="footerLeft" class="panelRight" onclick="hrefing('/kuro')">
				<div id="idkyet" class="outline">
					<div id="kuroTitle" class="txtPanelBubble">
						<a class="txtPanelHira" id="kuroKanj"><b>光</b></a>
						<a class="txtPanelRoma" id="kuroRoma"><b>Hikari</b></a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- <span id="kanj_bg"></span> -->
</body>


<div id="preferences-wrapper" class="hidden">
	<div id="preferences">
		<h1>Preferences</h1>
		<div id="preflist">
			<div class="preference" id="preference_audio">
				<div class="explanation">
					<h2>Use audio</h2>
					<p>Allow all audio</p>
				</div>
				<div class="switch cur-action">
					<div class="switch-option negative" id="allowAudio-off">⊘</div><div class="switch-option positive" id="allowAudio-on">◯</div>
				</div>
			</div>
			<div class="preference" id="preference_animations">
				<div class="explanation">
					<h2>Scanlines</h2>
					<p>Use scanlines</p>
				</div>
				<div class="switch cur-action">
					<div class="switch-option negative" id="animations-none">⊘</div><div class="switch-option positive" id="animations-all">◯</div>
				</div>
			</div>
			<div class="preference" id="scanlines_opacity">
				<div class="explanation">
					<h2>Scanline opacity</h2>
					<p>50%</p>
				</div>
				<input type="range" min="5" max="100" value="50" class="slider">
			</div>
			<div class="preference" id="music_volume">
				<div class="explanation">
					<h2>Music volume</h2>
					<p>100%</p>
				</div>
				<input type="range" min="0" max="100" value="100" class="slider">
			</div>
			<div class="preference" id="sfx_volume">
				<div class="explanation">
					<h2>Sound effect volume</h2>
					<p>100%</p>
				</div>
				<input type="range" min="0" max="100" value="100" class="slider">
			</div>
			<div class="preference" id="preference_forceintro">
				<div class="explanation">
					<h2>Always play intro</h2>
					<p>Off</p>
				</div>
				<div class="switch cur-action">
					<div class="switch-option negative" id="forceintro-off">⊘</div><div class="switch-option positive" id="forceintro-on">◯</div>
				</div>
			</div>
			<div class="preference" id="preference_you">
				<div class="explanation">
					<h2>Being great</h2>
					<p>Thank you for being you</p>
				</div>
				<div class="switch cur-action">
					<div class="switch-option positive selected" id="you-on">◯</div>
				</div>
			</div>
		</div>
		<a href="javascript:void(0);"><div id="preferences-close" class="cur-confirm">CLOSE</div></a>
	</div>
</div>

<div class="page_transi"><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div></div>


<script src="public/js/jquery.js"></script>
<script src="public/js/common.js"></script>
<script src="public/js/cookies.js"></script>
<script src="public/js/howler.min.js"></script>
<script src="public/js/sfx.js"></script>

<script>

	// = - = - = - = - = COOKIE DEBUG = - = - = - = - =
	
	/*
	function delete_cookie( name, path, domain ) {
		if( getCookie( name ) ) {
			document.cookie = name + "=" +
			((path) ? ";path="+path:"")+
			((domain)?";domain="+domain:"") +
			";expires=Thu, 01 Jan 1970 00:00:01 GMT";
		}
	}

	delete_cookie("MUSIC")

	*/

	/*
	
	function deleteAllCookies() {
		var cookies = document.cookie.split(";");

		for (var i = 0; i < cookies.length; i++) {
			var cookie = cookies[i];
			var eqPos = cookie.indexOf("=");
			var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
			document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
		}
	}

	deleteAllCookies()
	
	console.log(document.cookie)

	*/

	// = - = - = - = - = - = - = - = - =

	let bgmPlaying = false
	let bgmPlayed = false
	
	$('.grid_transi').addClass('transi_in')

	PlayIntro()

	/* INTRO */

	function PlayIntro() {

		if (getCookie("SEEN-INTRO") !== "v1" || getCookie("pref-FORCEINTRO") === "on") {
			$("#intro").css("display", "block")
			$("#pageContain").addClass("anim-fast")
			$("#pageContain").addClass("hidden")
			setTimeout(function() {
				$("#pageContain").removeClass("anim-fast")
				$("#pageContain").addClass("anim-slow")
				$("#intro").addClass("playing")
			}, 1)
		
		
			
			setTimeout(function() {
				TypeIntroMotto()
			}, 3000)
			
			$("body").css("background", "none")

			setTimeout(function() {
				$("#intro").addClass("destroyed")
				$("#pageContain").removeClass("hidden")
				window.scrollTo(0, 0)
			}, 3644)

			setTimeout(function() {
				$("#pageContain").removeClass("anim-slow")
				$("#intro").remove()
				setCookie("SEEN-INTRO", "v1", Date.now() + (365*24*60*60*1000))
		
			}, 4644);
		} else {
			$("body").css("background", "none")
		}

	
	}

	function TypeIntroMotto() {
		var text = "Three calico steps$At the time"
		for (var i = 0; i < text.length; i++) {
			(function(index) {
				setTimeout(function() {
					$("#intro_motto").html($("#intro_motto").html() + text.charAt(index).replace("$", "<br>"))
				}, index * 20)
			})(i)		
		}
	}
	  
	document.addEventListener("DOMContentLoaded", function(event) { 
		document.getElementById("loading-box").className = "finished"
	})
	
	window.onbeforeunload = function() {
		document.getElementById("loading-box").classList.remove("finished")
		fadeAway(200)
	}


	/* MUSIC */ 

	function ready(err,loop){
		if (err) {
		  console.warn(err);
		}
		  loop.play();
	  }
	
	function playShiri(){
		$('#homeHUD').fadeOut(400);
		$("#difficultyShiri").fadeIn(400);
	}
	
	function goBack(){
		$('#homeHUD').fadeIn(400);
		$("#difficultyShiri").fadeOut(400);
	}

	/*  UI EFFECTS  */

	$("#mainBubble").on({
		mouseenter: function () {
			$("#mainGame").css("filter","none")
		},
		mouseleave: function () {
			$("#mainGame").css("filter","grayscale(100%)")
		}
	})
	
	$("#n4").on({
		mouseenter: function () {
			sfx_hover.currentTime = 0;
			sfx_hover.play()
			$("#main-bg").css("background-position","50% 75%")
			$("#main-bg").css("filter","hue-rotate(80deg)")
		},
		mouseleave: function () {
			$("#main-bg").css("background-position","center center")
			$("#main-bg").css("filter","grayscale(100%)")
		}
	})

	$("#n5").on({
		mouseenter: function () {
			sfx_hover.currentTime = 0;
			sfx_hover.play()
			$("#main-bg").css("background-position","bottom")
			$("#main-bg").css("filter","none")
		},
		mouseleave: function () {
			$("#main-bg").css("background-position","center center")
			$("#main-bg").css("filter","grayscale(100%)")
		}
	})


	$("#collectionTitle").on({
		mouseenter: function () {
			$("#collectionKata").css("line-height","60px")
			$("#collectionRoma").css("display","block")
		},
		mouseleave: function () {
			$("#collectionKata").css("line-height","80px")
			$("#collectionRoma").css("display","none")
		}
	})

	$("#kuroTitle").on({
		mouseenter: function () {
			$("#kuroKanj").css("line-height","60px")
			$("#kuroRoma").css("display","block")
		},
		mouseleave: function () {
			$("#kuroKanj").css("line-height","80px")
			$("#kuroRoma").css("display","none")
		}
	})

	if(getCookie("SFX" == "yes")){
		$("#n5, #n4, #loginContain, #clipRegiContainer, #footerleft, #footerRight").on("click", () => sfx_click.play())
	}	


	/*=-=- Messy, could be done better -=-=*/

	updateBGM_btn()

	function updateBGM_btn(){
		if(bgmPlaying){
		$("#playBGM").text("うるさい")
		$("#playBGM").unbind().on("click", function(){
			music_loop.volume(0)
			bgmPlaying = false
	
			updateBGM_btn()
		})
		} else {
			$("#playBGM").text("BGM ⯈")
			if(getCookie("pref-AUDIO") == "all"){
				$("#playBGM").unbind().on("click", function() {
					if (bgmPlayed){
						music_loop.volume(0.1*music_volume)
					} else {
						playMusic(0.1, "Oltanis")

						bgmPlayed = true
					}
					
					bgmPlaying = true

					updateBGM_btn()
				})
			} 
		}
	}

	/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/


	function randomIntFromInterval(min, max) { 
		min = Math.ceil(min);
		max = Math.floor(max);
		return Math.floor(Math.random() * (max - min) + min);
    }

	const dataRaw = '<%- JSON.stringify(db) %>'
	const data = JSON.parse(dataRaw)

	let i = randomIntFromInterval('<%=startId%>','<%=numOfResults%>') 

	$("<span class='kanj_bg_unit'></span>").appendTo("#kanj_bg");

	$('.kanj_bg_unit').html(data[i].kanj)


	/* Settings */

	$(document).ready(function() {
		$("#header-knobs_preferences").on("click", function() {
			sfx_dialog.play()
			$("#preferences-wrapper").removeClass("hidden")
		})

		$("#preferences-close").click(function() {
			sfx_dialog_confirm.play()
			$("#preferences-wrapper").addClass("hidden")
		})

		$("#preferences-wrapper").click(function(e) {
			if ($(e.target).attr("id") !== "preferences-wrapper") { return }
			sfx_dialog_cancel.play()
			$("#preferences-wrapper").addClass("hidden")
		})

		$("#allowAudio-off").click(function() {
			setCookie("pref-AUDIO", "none", Date.now() + (365*24*60*60*1000))
			updateAudio()
		});

		$("#allowAudio-on").click(function() {
			setCookie("pref-AUDIO", "all", Date.now() + (365*24*60*60*1000))
			updateAudio()
		})

		updateAudio()

		$("#animations-none").click(function() {
			setCookie("pref-SCAN", "none", Date.now() + (365*24*60*60*1000))
			console.log(document.cookie)
			updateScanlinesOF()
		})
		$("#animations-all").click(function() {
			setCookie("pref-SCAN", "all", Date.now() + (365*24*60*60*1000))
				console.log(document.cookie)
			updateScanlinesOF()
		})

		updateScanlinesOF()

		///////////////////////


		$("#scanlines_opacity .slider").change(function() {
			setCookie("pref-SLOPAC", $(this).val() / 100, Date.now() + (365*24*60*60*1000));
			updateScanlines();
		});

		updateScanlines(true);

		///////////////////////

		$("#music_volume .slider").change(function() {
			setCookie("pref-MUSVOL", $(this).val(), Date.now() + (365*24*60*60*1000));
			updateSound();
		});

		$("#sfx_volume .slider").change(function() {
			setCookie("pref-SFXVOL", $(this).val(), Date.now() + (365*24*60*60*1000));
			updateSound();
		});

		

		$("#sfx_volume .slider").mousedown(function() {
			sfx_power_loop.play();
		});
		$("#sfx_volume .slider").mouseup(function() {
			sfx_power_loop.pause();
			sfx_power_loop.currentTime = 0;
			sfx_default.play();
		});

		

		updateSound(true);

		///////////////////////

		$("#forceintro-on").click(function() {
			setCookie("pref-FORCEINTRO", "on", Date.now() + (365*24*60*60*1000));
			updateForceIntro();
		});
		$("#forceintro-off").click(function() {
			setCookie("pref-FORCEINTRO", "off", Date.now() + (365*24*60*60*1000));
			updateForceIntro();
		});

		updateForceIntro();

		///////////////////////
	
	})

	function updateAudio(){
		switch (getCookie("pref-AUDIO")) {
			case "all":
				$("#n5, #n4, #loginContain, #clipRegiContainer, #footerleft, #footerRight").on("click", () => sfx_click.play())
				if (("#allowAudio-off.selected").length){
					$("#allowAudio-off").removeClass("selected")
				}
				$("#allowAudio-on").addClass("selected")
				$("#playBGM").removeClass("disabled")
				$("#sfx_volume").removeClass("disabled")
				break
			case "none":
				$("#n5, #n4, #loginContain, #clipRegiContainer, #footerleft, #footerRight").unbind("click", () => sfx_click.play())
				if (("#allowAudio-off.selected").length){
					$("#allowAudio-on").removeClass("selected")
				}
				$("#allowAudio-off").addClass("selected")
				if(bgmPlaying){
					music_loop.volume(0)
					bgmPlaying = false
					updateBGM_btn()
				}
				$("#playBGM").addClass("disabled")
				$("#sfx_volume").addClass("disabled")
				break
			default:
				setCookie("pref-AUDIO", "all", Date.now() + (365*24*60*60*1000))
				$("#allowAudio-on").addClass("selected")
				updateAudio()
				break
		}
	}

	function updateScanlinesOF() {
		switch (getCookie("pref-SCAN")) {
			case "all":
				if (("#animations-none.selected").length){
					$("#animations-none").removeClass("selected")
				}
				$("#animations-all").addClass("selected")
				$("html").removeClass("no-anim")
				$("html").removeClass("no-scanlines")
				$("#scanlines_opacity").removeClass("disabled")
				break
			case "none":
				if (("#animations-all.selected").length){
					$("#animations-all").removeClass("selected")
				}
				$("#animations-none").addClass("selected")
				$("html").addClass("no-anim")
				$("html").addClass("no-scanlines")
				$("#scanlines_opacity").addClass("disabled")
				break
			default:
				$("#animations-all").addClass("selected")
				setCookie("pref-SCAN", "all", Date.now() + (365*24*60*60*1000))
				updateScanlinesOF()
				break
		}
	}

	function updateSound(updateSliders = false) {
		if (getCookie("pref-MUSVOL") === "") {
			setCookie("pref-MUSVOL", 100, Date.now() + (365*24*60*60*1000));
		}
		if (getCookie("pref-SFXVOL") === "") {
			setCookie("pref-SFXVOL", 100, Date.now() + (365*24*60*60*1000));
		}

		$("#music_volume p").text(getCookie("pref-MUSVOL") == 0 ? "Off" : getCookie("pref-MUSVOL") + "%");
		$("#sfx_volume p").text(getCookie("pref-SFXVOL") == 0 ? "Off" : getCookie("pref-SFXVOL") + "%");

		music_volume = getCookie("pref-MUSVOL") / 100;
		sfx_volume = getCookie("pref-SFXVOL") / 100;

		setMusicVolume(music_volume);
		setSfxVolume(sfx_volume);

		if (updateSliders) {
			$("#music_volume .slider").val(getCookie("pref-MUSVOL"));
			$("#sfx_volume .slider").val(getCookie("pref-SFXVOL"));
		}
	}

	function updateScanlines(updateSliders = false) {
		if (getCookie("pref-SLOPAC") === "") {
			setCookie("pref-SLOPAC", 0.75, Date.now() + (365*24*60*60*1000));
		}

		$("#scanlines_opacity p").text(getCookie("pref-SLOPAC") == 0 ? "Off" : (getCookie("pref-SLOPAC") * 100).toFixed() + "%");

		setPseudo("html:not(.no-scanlines):not(.force-no-scanlines) body::before", "opacity", getCookie("pref-SLOPAC"));
		setPseudo("html:not(.no-scanlines):not(.force-no-scanlines) body::after", "opacity", getCookie("pref-SLOPAC"));

		if (updateSliders) {
			$("#scanlines_opacity .slider").val((getCookie("pref-SLOPAC") * 100).toFixed());
		}
	}



	function updateForceIntro() {
		switch (getCookie("pref-FORCEINTRO")) {
			case "on":
				$("#preference_forceintro p").text("On")
				$("#forceintro-on").addClass("selected")
				$("#forceintro-off").removeClass("selected")
				break;
			case "off":
				$("#preference_forceintro p").text("Off");
				$("#forceintro-off").addClass("selected");
				$("#forceintro-on").removeClass("selected")
				break;
			default:
				setCookie("pref-FORCEINTRO", "off", Date.now() + (365*24*60*60*1000));
				updateForceIntro();
				break;
		}
	}



	String.prototype.hashCode = function() {
		var hash = 0, i, chr;
		if (this.length === 0) return hash;
		for (i = 0; i < this.length; i++) {
			chr   = this.charCodeAt(i);
			hash  = ((hash << 5) - hash) + chr;
			hash |= 0; // Convert to 32bit integer
		}
		return hash;
	};

	function setPseudo(elem, property, value) {
		var hash = (elem+property).hashCode();

		if ($("#x-pseudo-" + hash).length === 0) {
			$("head").append("<style id=\"x-pseudo-" + hash + "\"></style>");
		}

		$("#x-pseudo-" + hash).html(elem + " { " + property + ": " + value + "; }");
	}


	// NICHIJOU COUNTDOWN


	function Time(){
		var now = new Date();
		this.hour =  now.getHours();
		this.minute =  now.getMinutes();
		this.second =  now.getSeconds();
	};


	Time.prototype.display = function(){
			var hr = this.hour;
			var sec = this.second;
			var min = this.minute;

			hr = 24 - hr;
			min = 60 - min;
			sec = 60 - sec;

			if (sec < 10)
				sec = '0'+ sec;

			if (min < 10)
				 min = '0'+ min;

			return ''+hr+' : '+min+' : '+sec+''    
	}

	function display(disp){
		var time = new Time();
		return time.display(disp);
	}

	//Clock Object
		var clockInterval;
		var clock = new Object();
		clock.display = function(){
			var time = new Time();
			return time.display();
		}

		clock.update = function(){
			$('.time').text(clock.display()+'');
			clockInterval = setTimeout(clock.update, 500);
		}

		clock.update();




</script>


</html>