<html>
<head>

  <title>Gods drink js - 日月星辰</title>

  <!--ｚ  
　 z　　　   
　　z  
　＜⌒／ヽ-､_＿_  
／＜_/＿＿＿＿／  
￣￣￣￣￣￣￣νύξ-->

  <!-- meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <!-- CSS links -->
  <link rel="shortcut icon" type="image/x-icon" href="public/media/DiveIcon.png" />
  <link href="../public/css/home.css" rel="stylesheet" type="text/css" />




  

</head>


<div id="landing">
	<img src="../public/media/headphone.png"/>
	<p>
	Allow audio for a better experience ?
	</p>
	<div id="diff">
	<a id="yesAllow" onclick="checkAllow(0)">Allow</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a id="noAllow" onclick="checkAllow(1)">Don't allow</a>
	</div>
</div>
<div id="notLanding">
	<div id="loading-box">

	</div> 
	<div id="intro">
	<h1 id="intro_welcome">Keep going</h1>
	<h1 id="intro_motto"></h1>
	</div>

	<body>

		<div id="pageContain">

			<div id="homeHUD">

				

				<div id="header">

					<%if (logged) { %>

					<div id="headerLeft" class="panelRight">
						<div id="logoutContain" onclick="hrefing('/logout')">
							<div class="clipLogOut">
								<b>ログアウト</b>
							</div>
						</div>
					</div> 

					<% } else{ %>  
					
					<div id="headerLeftSplit" class="panelRight">
						<div id="loginContain" class="panelBot" onclick="hrefing('/login')">
							<div class="clipLogIn">
								<b>ログイン</b>
							</div>
						</div>
						
						<div id="registerContain" class="panelTop">
							<div class="clipRegiContainer" onclick="hrefing('/login')">
								<div class="clipRegi">
									<b>レジスター</b>
								</div>
							</div>
						</div>
					</div>

					<% } %>  

					<div id="headerRight" class="panelLeft">	

						<div class="outlineLeft">
							<h1 id="intro_motto"></h1>
						</div>

					</div>

				</div>

				<div id="main">
					<div id="mainGame" class="outline">
						<div id="main-bg"></div>
						<div id="n5" onclick="hrefing('/game?jlpt=n5')">【JLPT <b style="color: lime">5</b>】</div>
						<div id="n4" onclick="hrefing('/game?jlpt=n4')">【JLPT <b style="color: orange">4</b>】</div>
						<div id="anki"><b>安 : 気</b></div>
					</div>
				</div>

				<div id="footer">
					<div id="footerLeft" class="panelRight">
						<div id="idkyet" class="outline"></div>
					</div>
				
					<div id="footerRight" class="panelLeft" onclick="hrefing('/collection/home')">
						<div class="clipCollection outline">
							<div id="collectionTitle">
								<a id="collectionKata"><b>コレクション</b></a>
								<a id="collectionRoma"><b>Collection</b></a>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>


	</body>
</div>

<script src="public/js/jquery.js"></script>
<script>

	const one =  document.getElementById('one')
	const two =  document.getElementById('two')
	const content =  document.getElementById('pageContain')
	const intro  = document.getElementById('intro')
	const landing = document.getElementById('landing')
	let introSfx = new Audio("../public/sfx/let_it.wav")
	let yattongLesgoSfx = new Audio("../public/sfx/yattongLesGo.wav")
	let yattongLongSfx = new Audio("../public/sfx/yattongLong.wav")

	/* INTRO */

	function PlayIntro() {
		$("#notLanding").addClass("back")
		$("#landing").addClass("destroyed")
		$("#intro").css("display", "block");
		$("#pageContain").addClass("anim-fast");
		$("#pageContain").addClass("hidden");
		setTimeout(function() {
		  $("#pageContain").removeClass("anim-fast");
		  $("#pageContain").addClass("anim-slow");
		  $("#intro").addClass("playing");
		}, 1);
	  
	  
		 
		setTimeout(function() {
		  TypeIntroMotto();
		}, 3000);
		
		$("body").css("background", "none");

		setTimeout(function() {
		  $("#intro").addClass("destroyed");
		  $("#pageContain").removeClass("hidden");
		  window.scrollTo(0, 0);
		}, 3644);
		setTimeout(function() {
		  $("#pageContain").removeClass("anim-slow");
		  $("#intro").remove();
	  
		}, 4644);
	  }

	function TypeIntroMotto() {
		var text = "安$:$気"
		for (var i = 0; i < text.length; i++) {
			(function(index) {
				setTimeout(function() {
					$("#intro_motto").html($("#intro_motto").html() + text.charAt(index).replace("$", "&nbsp;"))
				}, index * 20)
			})(i)		
		}
	}
	  
	document.addEventListener("DOMContentLoaded", function(event) { 
		document.getElementById("loading-box").className = "finished"
	})
	
	window.onbeforeunload = function() {
		document.getElementById("loading-box").classList.remove("finished")
		fadeAway(200)
	}





	/* MUSIC */ 

	function ready(err,loop){
		if (err) {
		  console.warn(err);
		}
		  loop.play();
	  }
	  
	function checkAllow(allowAudio){
		if (allowAudio == 0) {
			PlayIntro()
			
		} else {
			PlayIntro()
		}
	}
	function hrefing(str){
		yattongLesgoSfx.volume = 0.3
		yattongLesgoSfx.play()
		$("html").fadeOut(3000)
		setTimeout(function(){
			location.href=str
		},5000)
	
	}

	function playIntroSfx(){
		introSfx.currentTime = 0
		introSfx.play()
		landing.style.visibility = 'hidden'
		landing.style.opacity = 0
	  
		one.style.visibility = 'visible'
		one.style.opacity = 1
		one.style.animation = 'type-w 1s steps(44)'
	  
		setTimeout(function() {
		  two.style.visibility = 'visible'
		  two.style.opacity = 1
		  two.style.animation = 'type-w 1s steps(44)'
	  
		  setTimeout(function(){
			loopify("../public/sfx/jamLess.wav",ready)
		  },2950)
		}, 800)
	  
	  
		setTimeout(function() {
		  document.body.style.backgroundColor = '#000'
	  
		  content.style.visibility = 'visible'
		  content.style.opacity = 1
		  one.style.color = '#fff'
		  two.style.color = '#fff'
		  setInterval(function() {
			fireflies();
		  }, 450);
		}, 1750)
	  }

	function playIntroNoSfx(){
		landing.style.visibility = 'hidden'
		landing.style.opacity = 0
	  
		one.style.visibility = 'visible'
		one.style.opacity = 1
		one.style.animation = 'type-w 3.5s steps(44)'
	  
		setInterval(function() {
		  two.style.visibility = 'visible'
		  two.style.opacity = 1
		  two.style.animation = 'type-w 3s steps(44)'
		}, 1000)
	  
		setInterval(function() {
		  document.body.style.backgroundColor = '#000'
	  
		  content.style.visibility = 'visible'
		  content.style.opacity = 1
		  one.style.color = '#fff'
		  two.style.color = '#fff'
		  setInterval(function() {
			fireflies();
		  }, 450);
		}, 1750)
	  }
	

	function playShiri(){
		$('#homeHUD').fadeOut(400);
		$("#difficultyShiri").fadeIn(400);
	}
	
	function goBack(){
		$('#homeHUD').fadeIn(400);
		$("#difficultyShiri").fadeOut(400);
	}
	  

	/* SPAGHETTTT */

	$("#mainBubble").on({
		mouseenter: function () {
			$("#mainGame").css("filter","none")
		},
		mouseleave: function () {
			$("#mainGame").css("filter","grayscale(100%)")
		}
	})
	
	$("#n4").on({
		mouseenter: function () {
			$("#main-bg").css("background-position","50% 75%")
			$("#main-bg").css("filter","hue-rotate(80deg)")
		},
		mouseleave: function () {
			$("#main-bg").css("background-position","center center")
			$("#main-bg").css("filter","grayscale(100%)")
		}
	})

	$("#n5").on({
		mouseenter: function () {
			$("#main-bg").css("background-position","bottom")
			$("#main-bg").css("filter","none")
		},
		mouseleave: function () {
			$("#main-bg").css("background-position","center center")
			$("#main-bg").css("filter","grayscale(100%)")
		}
	})


	$("#collectionTitle").on({
		mouseenter: function () {
			$("#collectionKata").css("line-height","60px")
			$("#collectionRoma").css("display","block")
		},
		mouseleave: function () {
			$("#collectionKata").css("line-height","80px")
			$("#collectionRoma").css("display","none")
		}
	})
	






</script>

</html>