
<head>

    <title>〖 Kuro 〗</title>
    
    <!-- meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <!-- CSS links -->
    <link href="../public/css/main.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" type="image/x-icon" href="public/media/DiveIcon.png" />
    
    
    
    
</head>


<header>
    <nav class="g-nav">
        <form action="/" method="GET">
          <button type="submit" class="btn-home">Game</button>
        </form>
  
        <form action="/collection/home" method="GET">
          <button type="submit" class="btn-collection">Collection</button>
        </form>
        <%if (logged) { %>
        <form action="/logout" method="GET">
          <button type="submit" class="btn-logout">Log Out</button>
        </form>
        <% } else{ %>  
        <form action="/login" method="POST">
          <button type="submit" class="btn-login">Log in</button>
        </form>
        <form action="/register">
          <button type="submit" class="btn-register">Register</button>
        </form>
        <% } %>         
    </nav>
  </header>

<div id="app">
    <form class="inputWrap" action="/kuro" method="POST">
      <textarea id="japText" name="txt" placeholder="<%=txtdJap%>"></textarea>
      <button id="btn-analyse" type="submit">Analyse</button>
    </form>
    
    <table id="countTable">
        <thead>
          <tr>
            <th><h2>Word</h2></th>
            <th><h2>Reading</h2></th>
            <th><h2>Count</h2></th>
            <th><h2>Jisho</h2></th>
          </tr>
        </thead>
        <tbody>
            <% if (txtd !== []){ %>
              <% for (var i = 0; i < txtd.length; ++i) { %>
              <tr>
                <td><%=txtd[i].surface_form %></td>
                <td class="toHira"><%=txtd[i].reading %></td>
                <td>1</td>
                <td> osef </td>
              </tr>
              <% } %>
            <% } %>
        </tbody>
    </table>


</div>

 <style>
    @import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
    
    *{
       font-family: 'Press Start 2P', cursive;
       box-sizing: border-box;
    }

    body{
      background:rgb(48, 48, 48);
    }

    #app {
      width: 100%;
      height: 100%;
      display: grid;
      gap: 0px 4%;
      grid-template-columns: 1.9fr 0.7fr;
      grid-template-rows: 0.8fr 1.4fr 0.8fr;
    }

    .inputWrap  {
        display: grid;
        grid-template-rows: 80% 20%;
        grid-column: 1/2;
        grid-row: 2/3;
        font-size: 1.15em;
        
    }

    #btn-analyse {
      grid-row: 2/-1;
      width: 100%;
      height: 100%;
    }

    #japText{
      grid-row: 1/2;
      background-color: rgb(190, 190, 190);
    }

    #countTable{
        grid-column: 2/-1;
        grid-row:2/3;
        border-collapse: collapse;
    }

    #countTable td, #countTable th {
      padding: 12px 15px;
      border: 1px solid #ddd;
      text-align: center;
      font-size: 16px;
   }
   #countTable th {
      background-color: rgb(0, 0, 0);
      color: #fff;
   }
   #countTable tbody tr:nth-child(even) {
      background-color: #6f6f6f;
   }

    html:before {
      content: "";
      background-image: none;
    }
 </style>

 <script src="public/js/jquery.js"></script>
 <script type="text/javascript" src="public/js/wanakana.min.js"></script>
 <script>

    /* -- Old method -- */

    /*$("#btn-analyse").click(function() {
        $.post('/kuro', { txt : $('#japText').val() });
        $("#countTable").css("display","block") 
    })*/

    $( document ).ready(function() {
      $('.toHira').each(function(){
        $( this ).html(wanakana.toHiragana( $( this ).text() ))
     });
    })
    



 </script>

