
<head>

    <title>光</title>
    
    <!-- meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <!-- CSS links -->
    <link href="../public/css/main.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" type="image/x-icon" href="public/media/DiveIcon.png" />
    <link rel="stylesheet" href="../public/css/table-sortable.css" type="text/css"/>
    <link rel="stylesheet" href="https://unpkg.com/kursor/dist/kursor.css">
    <link href="../public/css/transitions.css" rel="stylesheet" type="text/css" />

    
    
    
    
</head>


<header>
    <nav class="g-nav">
        <form action="/" method="GET">
          <button type="submit" class="btn-home">家</button>
        </form>
  
        <form action="/collection/home" method="GET">
          <button type="submit" class="btn-collection">コレクション</button>
        </form>
        <%if (logged) { %>
        <form action="/logout" method="GET">
          <button type="submit" class="btn-logout">ログアウト</button>
        </form>
        <% } else{ %>  
        <form action="/login" method="POST">
          <button type="submit" class="btn-login">ログイン中</button>
        </form>
        <form action="/register">
          <button type="submit" class="btn-register">レジスター</button>
        </form>
        <% } %>         
    </nav>
  </header>

<div id="app">

    <div id="leftWraps">
      <form class="inputWrap" action="/kuro" method="POST">
        <textarea id="japText" class="glowing-button9" name="txt" placeholder="文"></textarea>
        <button id="btn-analyse" class="glowing-button2" type="submit">光って</button>
      </form>
      
      <div id="hring">
        
        <p>OR</p>
       
      </div>
  
      <form class="scraperWrap" action="/scrape" method="POST">
        <input id="scrape-input" name="scrapeUrl" placeholder="ＵＲＬ"/>
        <button id="btn-analyse" class="glowing-button8" type="submit">光って</button>
      </form>
    </div>
    

    <div id="countTable">
      <div class="table-sortable">
      </div>
    </div>

</div>
<div class="page_transi"><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div><div class="grid_transi"></div></div>


 <style>
    @import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

    :root {
      --fruityTooty: linear-gradient(90deg, rgb(255, 248, 85) 0.04%, rgb(70, 227, 183) 100.04%);
      --tinder:  linear-gradient(285.49deg, rgb(245, 55, 249) -14.61%, rgb(247, 190, 43) 106.06%);
      --chilly: linear-gradient(124.31deg, rgb(70, 227, 183) 0.18%, rgb(82, 124, 172) 89.82%);
      --depression: linear-gradient(285.49deg, rgb(148, 151, 157) -14.61%, rgb(118, 124, 175) 106.06%);

    }
    
    *{
       font-family: 'Press Start 2P', cursive;
       box-sizing: border-box;
    }

    body{
      background: rgb(49, 49, 49);
      font-family: sans-serif;
      font-weight: 100;
    }

    #app {
      width: 100%;
      height: 100%;
      display: grid;
      gap: 0px 4%;
      grid-template-columns: 1.7fr 0.9fr;
      grid-template-rows: 0.8fr 1.8fr 0.4fr;
    }

    #leftWraps {
      grid-column: 1/2;
      grid-row: 2/3;
      margin-left: 50px;
      display: grid;
      grid-template-rows: 70% 10% 10%;
    }

    .inputWrap  {
        font-size: 1.15em;
        grid-row: 1/2;
        display: grid;
        grid-template-rows:80% 20%;
    }

    #hring {
      grid-row: 2/3;
      position: relative;
    }

    #hring p{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .scraperWrap {
      display: grid;
      align-items: center;
    }

    #btn-analyse {
      grid-row: 2/-1; 
    }

    #japText{
      grid-row: 1/2;
      resize: none;
    }

    #scrape-input {
      grid-row: 1/2;
      width: 95%;
      height: 35%;
    }

    #countTable{
        grid-column: 2/-1;
        grid-row:2/3;
        margin-right: 50px;
    }

    html:before {
      content: "";
      background-image: none;
    }

    .table-sortable {
      height: 100%;
      
    }

    .gs-table-container{
      height: 100%;
    }

    .table{
      grid-row: 2/3;
      height: 100%;
      text-align: center;
    }

    .gs-pagination {
      text-align: center;
      background-color: #000000;
    }

    .col-md-6 {
      padding-top: 20px;
      padding-bottom: 10px;
    }

    table {
      border-collapse: collapse;
      overflow: hidden;
      box-shadow: 0 0 20px rgba(0,0,0,0.1);
    }

    th, td {
      padding: 15px;
      background-color: rgba(255,255,255,0.2);
      color: #fff;
   }

   th {
    text-align: left;
 }
  thead th {
    background-color: #000000;
 }
  tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.3);
 }
  tbody td {
    position: relative;
 }
  tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
  }

  .d-flex {
    display: flex;
  }

  .justify-content-end {
    justify-content: center;
  }



/* glowing button 8 */
.glowing-button8 {
  margin: 10px;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 20px 0 #fff;
  border: 2px solid #fff;
  padding: 20px 80px;
  background-color: #000;
  transition: .4s;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  z-index: 0;
}

.glowing-button8::before {
  content: '';
  width: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  border: 2px solid #fff;
  transition: .4s;
  box-shadow: 0 0 20px 0 #fff;
  z-index: -1;
  width: 10px;
  height: calc(100% - 40px);
  top: 50%;
  transform: translateY(-50%);
  left: -5px;
  background-color: #000;
}

.glowing-button8::after {
  content: '';
  width: 100%;
  background-color: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  border: 2px solid #fff;
  transition: .4s;
  box-shadow: 0 0 20px 0 #fff;
  z-index: -1;
  width: 10px;
  height: calc(100% - 40px);
  top: 50%;
  transform: translateY(-50%);
  right: -5px;
  background-color: #000;
}

.glowing-button8:hover {
  color: #000;
}

.glowing-button8:hover::before {
  left: 0;
  width: calc(50% + 1px);
  background-color: #fff;
}

.glowing-button8:hover::after {
  right: 0;
  width: calc(50% + 1px);
  background-color: #fff;
}


button:hover {
  color: white;
  border: 2px solid #fff;
  box-shadow: 0 0 20px 0 #fff;
}


*,*::before,*::after {
  box-sizing: border-box;
}

/* glowing button 9 */
.glowing-button9 {
  margin: 10px;
  position: relative;
  background-color: #000;
  box-shadow: 0 0 20px 0 #fff;
  border: 2px solid #fff;
  padding: 20px 80px;
  background-color: #000;
  transition: .4s;
  font-size: 20px;
  color: #fff;
  z-index: 0;
}

.glowing-button9:focus {
  outline: none !important;
  border: 9px solid #fff;
}


/* glowing button 2 */
.glowing-button2 {
  margin: 10px;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 20px 0 #fff;
  border: 2px solid #fff;
  padding: 20px 80px;
  background-color: #000;
  transition: .4s;
  font-size: 20px;
  cursor: pointer;
  color: var(--depression);
  z-index: 0;
}

.glowing-button2::before {
  content: '';
  position: absolute;
  border: 2px solid #fff;
  transition: .4s;
  box-shadow: 0 0 20px 0 #fff;
  z-index: -1;
  width: 30px;
  height: 10px;
  top: -5px;
  left: -5px;
  transform: skewX(30deg);
  background-color: #000;
}

.glowing-button2::after {
  content: '';
  position: absolute;
  border: 2px solid #fff;
  transition: .4s;
  box-shadow: 0 0 20px 0 #fff;
  z-index: -1;
  width: 30px;
  height: 10px;
  bottom: -5px;
  right: -5px;
  transform: skewX(-30deg);
  background-color: #000;
}

.glowing-button2:hover {
  color: #000;
}

.glowing-button2:hover::before {
  width: 100%;
  height: calc(50% + 1px);
  left: 0;
  top: 0;
  transform: skewX(0deg);
  background-color: #fff;
}

.glowing-button2:hover::after {
  width: 100%;
  height: calc(50% + 1px);
  right: 0;
  bottom: 0;
  background-color: #fff;
  transform: skewX(0deg);
}




 </style>

 <script src="public/js/jquery.js"></script>
 <script src="public/js/table-sortable.js"></script>
 <script src="public/js/xregexp-all.js"></script>
 <script type="text/javascript" src="public/js/wanakana.min.js"></script> 
 <script src="public/js/common.js"></script>
 

 
 <script>

    let searchField = document.querySelector('#searchField')
    var rows = document.getElementsByTagName("tr");
   
    $( document ).ready(function() {
      if(!<%=dontTransi%>){
        $('.grid_transi').addClass('transi_in')
      }
    })
  

    /* -- Old method for hira WIP -- */

    /* $( document ).ready(function() {
      $('td').each(function(){
        $( this ).html(wanakana.toHiragana( $( this ).text() ))
     });
    }) */

    /* Pagination Table using table-sortable plugin */

    var data = <%- JSON.stringify(txtd) %>

    console.log(data)

    /* Removing non-usable data */
    
    let impurity = data.filter( el => el.basic_form !== "*" )

    /* Filtering out non-nouns and non-verbs */

    let onlyNandV = impurity.filter( el => el.pos == "動詞" || el.pos == "名詞" )

    /* Removing hiragana only words with a regex range */

    let onlyKanj = onlyNandV.filter(el => /[\u2E80-\u2E99\u2E9B-\u2EF3\u2F00-\u2FD5\u3005\u3007\u3021-\u3029\u3038-\u303B\u3400-\u4DB5\u4E00-\u9FCC\uF900-\uFA6D\uFA70-\uFAD9]/.test(el.basic_form))

    /* (∩｀-´)⊃━☆ﾟ.*･｡ﾟ */
    
    let filterdData = Object.values(onlyKanj.reduce((a,{basic_form, reading, pos}) => {
      let key = `${basic_form}_${reading}_${pos}`;
      a[key] = a[key] || {basic_form, reading, pos, count : 0};
      a[key].count++;
      return a;
    }, {}));

    let jishoAdd = filterdData.map(v => ({...v, jisho: "check"}))

    let forNow = jishoAdd.map(v => ({...v, jlpt: "wip"}))

    if (forNow.length > 0){
      var columns = {
        'basic_form': 'Word',
        'reading': 'Reading',
        'count': 'Count',
        'pos': 'Type',
        'jisho': 'Jisho',
        'jlpt': 'JLPT'
      }

      var table = $('.table-sortable').tableSortable({
        data: forNow,
        columns: columns,
        rowsPerPage: 5,
        pagination: true,
        sorting:true
      });

      /* adds jisho checkup */

      for (let c=1; c < rows.length; c++) {
        rows[c].cells[4].onclick = () => {window.open("https://jisho.org/word/"+rows[c].cells[0].innerHTML, "_blank");}
        rows[c].cells[4].style.cursor = "pointer"
      }   

      /* Brain melting table issue */

      let stupidTable = document.querySelector('.gs-table-container')

      stupidTable.onclick = () => {
        for (let c=1; c < rows.length; c++) {
          rows[c].cells[4].onclick = () => {window.open("https://jisho.org/word/"+rows[c].cells[0].innerHTML, "_blank");}
          rows[c].cells[4].style.cursor = "pointer"
        }   
      }

    }


 </script>

