<html>
<head>

  <title>だい:Ve</title>

  <!--ｚ  
　 z　　　   
　　z  
　＜⌒／ヽ-､_＿_  
／＜_/＿＿＿＿／  
￣￣￣￣￣￣￣νύξ-->

  <!-- meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <!-- CSS links -->
  <link rel="shortcut icon" type="image/x-icon" href="public/media/DiveIcon.png" />


  

</head>

<style>

	::-webkit-scrollbar {
		width: 10px;
	  }

	#pageContain{
		height: calc(100% - 10em);
		width: 70vw;
		padding: 4rem;
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	#header {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		column-gap: 6em;
		height: 35vh;
	}

	#headerLeftSplit {
		display: grid;
		grid-template-rows: 50% 50%;
		grid-column: 1/span 3;
		
	}

	#headerRight  {
		grid-column:3/-1;
	}

	#headerRight, #headerLeftSplit  {
		grid-row: 1/2;
	}

	#main {
		width: 100%;
		height: 20vh;
		padding-top:1em;
		padding-bottom:1em;
	}

	#footer  {
		display: grid;
		grid-template-columns: 40% 60%;
		height: calc(100% - 35vh - 20vh);

	}


	#footerLeft {
		display: grid;
		grid-template-rows: 60% 40%;
	}

	.panelTop {
		padding-top: 0.5em;
	}


	.panelBot {
		padding-bottom: 0.5em;
	}


	.panelRight {
		padding-right: 0.5em;
	}


	.panelLeft {
		padding-left: 0.5em;
	}


	.outline {
		border: 1px solid black;
		height: 100%;
	}


	/* The trilogy */
	
	.outlineRight  {
		height: 100%;
		background-color: black;
		position: relative;
	
	}

	.outlineRight::before {
		content: '';
		width: calc(100% - 3px);
		height: calc(100% - 3px);
		background: url("../public/media/panelLogIn.jpg") no-repeat center;
		background-size: cover;
		display: block;
		position: absolute;
		top: 1.5px;
		left: 1.5px;
	}

	.outlineRight, .outlineRight:before {
		clip-path: polygon(0 0, 100% 0, 89% 100%, 0% 100%);
	}

	.outlineRight2  {
		border-left: 1px solid black;
		height: 100%;
		position: relative;
	}

	.outlineRight3  {  
		height: 100%;
		width: 88%;
		background-color: black;
		position: relative;
	}

	.outlineRight3::before {
		content: '';
		width: calc(100% - 3px);
		height: calc(100% - 3px);
		background: url("../public/media/panelRegister.jpg") no-repeat center;
		background-size: cover;
		display: block;
		position: absolute;
		top:1.5px;
		left:1.5px;
	}

	.outlineRight3, .outlineRight3:before {
		clip-path: polygon(0 0, 100% 0, 89% 100%, 0% 100%);
	}

 	/*     */


	.outlineLeft  {
		height: 100%;
		background-color: black;
		position: relative;
		
	}

	.outlineLeft::before {
		content: '';
		width: calc(100% - 3px);
		height: calc(100% - 3px);
		background: url("../public/media/panelRegister.jpg") no-repeat center;
		background-size: cover;
		display: block;
		position: absolute;
		top:1.5px;
		left:1.5px;
	}

	.outlineLeft, .outlineLeft:before {
		clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
	}


	.splitVert  {
		margin-top: 1.5vw;
		margin-bottom: 3vw;
	}

	
	.splitHori  {
		margin-right: 1.5vw;
		margin-left: 3vw;
	}
	

	#clipRight {
		clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
	}

	#clipLeft {
		clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
	}

	#clipBot {
		clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
	}

	#clipTop {
		clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
	}

</style>

<body>

	<div id="pageContain">

		<div id="header">

			<%if (logged) { %>

			<div id="headerLeft" class="panelRight">
				<div id="logoutContain">
					<div class="outlineRight">
						<form action="/logout" method="GET">
							<button type="submit" class="btn-logout">Log Out</button>
						</form>
					</div>
				</div>
			</div> 

			<% } else{ %>  
			  
			<div id="headerLeftSplit" class="panelRight">
				<div id="loginContain" class="panelBot">
					<div class="outlineRight">
						<form action="/login" method="POST">
							<button type="submit" class="btn-login">Log in</button>
						</form>
					</div>
				</div>
				<div id="registerContain" class="panelTop">
					<div class="outlineRight2">
						<div class="outlineRight3">
							<form action="/register">
								<button type="submit" class="btn-register">Register</button>
							</form>
						</div>
					</div>
				</div>
			</div>

			<% } %>  

			<div id="headerRight" class="panelLeft">

				<div class="outlineLeft">

				</div>

			</div>

		</div>

		<div id="main">
			<div  class="outline">

			</div>
		</div>

		<div id="footer">
			<div id="footerLeft" class="panelRight">
				<div class="panelBot">
					<div class="outlineBot">

					</div>
				</div>
				<div class="panelTop">
					<div class="outlineTop">

					</div>
				</div>

			</div>

			<div id="footerRight" class="panelLeft">
				<div class="outline">

				</div>

			</div>

		</div>

	</div>


</body>

</html>