<html>
<head>

  <title>だい:Ve</title>

  <!--ｚ  
　 z　　　   
　　z  
　＜⌒／ヽ-､_＿_  
／＜_/＿＿＿＿／  
￣￣￣￣￣￣￣νύξ-->

  <!-- meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <!-- CSS links -->
  <link rel="shortcut icon" type="image/x-icon" href="public/media/DiveIcon.png" />


  

</head>

<style>

	::-webkit-scrollbar {
		width: 10px;
	  }

	#pageContain{
		height: calc(100% - 10em);
		width: 70vw;
		padding: 4rem;
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	#header {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		column-gap: 5em;
		height: 35vh;
	}

	#headerLeftSplit {
		display: grid;
		grid-template-rows: 50% 50%;
		grid-column: 1/span 3;
		
	}

	#headerRight  {
		grid-column:3/-1;
	}

	#headerRight, #headerLeftSplit  {
		grid-row: 1/2;
	}

	#main {
		width: 100%;
		height: 20vh;
		padding-top:1em;
		padding-bottom:1em;
	}

	#footer  {
		display: grid;
		grid-template-columns: 40% 60%;
		height: calc(100% - 35vh - 20vh);

	}


	#footerRight {
		grid-column:2/-1;

	}

	#footerLeft {
		grid-column: 1/2;
		
	}

	#idkyet {

		background-image: url(../public/media/chat.gif);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 20%;
		filter: grayscale(95%);

    	
	}

	#collectionTitle {
		width: calc(100% - 0.75em);
		margin-left: 0.5em;
		height: 20%;
		grid-column:-1/-2;
		z-index: 5;
		background-color: white;
		cursor: pointer;
		transition: 0.5s linear;
		border: 2px solid black;
	}

	#collectionTitle a {
		font-size: 1.2em;
	}

	.oldCollection:hover {
		display: block;
		-webkit-animation: fadeOut 1s;
		animation: fadeOut 1s;
		animation-fill-mode: forwards;
	}

	#collectionTitle, #footerRight  {
		grid-row: 2/-1;
	}


	.panelTop {
		padding-top: 0.5em;
	}


	.panelBot {
		padding-bottom: 0.5em;
	}


	.panelRight {
		padding-right: 0.5em;
	}


	.panelLeft {
		padding-left: 0.5em;
	}


	.outline {
		border: 2px solid black;
		height: 100%;
	}
	
	.clipLogIn  {
		height: 100%;
		background-color: black;
		position: relative;
	
	}

	.clipLogIn::before {
		content: '';
		width: calc(100% - 3px);
		height: calc(100% - 3px);
		background: url("../public/media/panelLogIn.jpg") no-repeat center;
		background-size: cover;
		display: block;
		position: absolute;
		top: 1.5px;
		left: 1.5px;
	}

	.clipLogIn, .clipLogIn:before {
		clip-path: polygon(0 0, 100% 0, 89% 100%, 0% 100%);
	}

	.btn-login {
		position: absolute;
		right:10%;
		top:10%;
		bottom:2;
	
	}

	.btn-login button {
		border: none;
		background-color: transparent;
		cursor: pointer;
	
	}
	
	.btn-login b {
		font-size: 1.5em;
		width: 50%;
		writing-mode: vertical-rl;
		text-orientation: upright;
	}

	.btn-register {
		position: absolute;
		left:5%;
		top:5%;
		bottom:2;
	
	}

	.btn-register button {
		border: none;
		background-color: transparent;
		cursor: pointer;
	
	}
	
	.btn-register b {
		font-size: 1.5em;
		width: 50%;
		writing-mode: vertical-rl;
		text-orientation: upright;
	}

	.clipRegiContainer  {
		border-left: 1px solid black;
		height: 100%;
		position: relative;
	}

	.clipRegi  {  
		height: 100%;
		width: 88%;
		background-color: black;
		position: relative;
	}

	.clipRegi::before {
		content: '';
		width: calc(100% - 3px);
		height: calc(100% - 3px);
		background: url("../public/media/panelRegister.jpg") no-repeat center;
		background-size: cover;
		display: block;
		position: absolute;
		top:1.5px;
		left:1.5px;
	}

	.clipRegi, .clipRegi:before {
		clip-path: polygon(0 0, 100% 0, 89% 100%, 0% 100%);
	}


	.outlineLeft  {
		height: 100%;
		background-color: black;
		position: relative;
		
	}

	.outlineLeft::before {
		content: "安気 : Z";
		font-size: 3vw;
		text-shadow: 3px 6px #000, 0px -1px #000, 0px 1px #000, -1px 0px #000, 1px 0px #000, -1px -1px #000, 1px 1px #000, -1px 1px #000, 1px -1px #000;
		color: #FFF;
		width: calc(100% - 3px);
		height: calc(100% - 3px);
		filter: grayscale(100%);
		background: url("../public/media/maybe.gif") no-repeat center;
		background-size: cover;
		display: block;
		position: absolute;
		top:1.5px;
		left:1.5px;
	}

	.outlineLeft, .outlineLeft:before {
		clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
	}

	.clipBot  {
		height: 100%;
		background-color: black;
		position: relative;
		
	}

	.clipBot::before {
		content: '';
		width: calc(100% - 3px);
		height: calc(100% - 3px);
		/*background: url("../public/media/panelRegister.jpg") no-repeat center;
		background-size: cover;*/
		display: block;
		position: absolute;
		top:1.5px;
		left:1.5px;
	}

	.clipBot, .clipBot:before {
		clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
	}


	.clipTop  {
		height: 100%;
		background-color: black;
		position: relative;
		
	}

	.clipTop::before {
		content: '';
		width: calc(100% - 3px);
		height: calc(100% - 3px);
		/*background: url("../public/media/panelRegister.jpg") no-repeat center;
		background-size: cover;*/
		display: block;
		position: absolute;
		top:1.5px;
		left:1.5px;
	}

	.clipTop, .clipTop:before {
		clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
	}

	#mainGame {
		background: url("../public/media/end.jpg") no-repeat;
		background-position: 50% 45% ;
		background-size: cover;
		filter: grayscale(100%);
		cursor: pointer;
		transition: 0.8s linear;
	}


	.splitVert  {
		margin-top: 1.5vw;
		margin-bottom: 3vw;
	}

	
	.splitHori  {
		margin-right: 1.5vw;
		margin-left: 3vw;
	}
	
	.clipCollection  {
		background: url("../public/media/punpun.png") no-repeat;
		background-size:cover;
		background-position: 5%;
		background-color: black;
		transition: 0.5s linear;
	}


	body:before {
		content: "";
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		z-index: 1000;
		background-image: url(../public/media/overlay.png);
		background-repeat: all;
		background-position: 0px 0px;
		background-color: rgba(0, 0, 0, 0.1);
		animation-name: Static;
		animation-duration: 2s;
		animation-iteration-count: infinite;
		animation-timing-function: steps(4);
		box-shadow: inset 0px 0px 8em rgba(0,0,0,0.2);
	  }
	  
	  @keyframes Static {
		  0% { background-position: 0px 0px; }
		  100% { background-position: 0px 4px; }
	  }

	 


</style>

<body>

	<div id="pageContain">

		<div id="header">

			<%if (logged) { %>

			<div id="headerLeft" class="panelRight">
				<div id="logoutContain">
					<div class="clipLogOut">
						<form action="/logout" method="GET">
							<button type="submit" class="btn-logout">Log Out</button>
						</form>
					</div>
				</div>
			</div> 

			<% } else{ %>  
			  
			<div id="headerLeftSplit" class="panelRight">
				<div id="loginContain" class="panelBot">
					<div class="clipLogIn">
						<form action="/login" method="POST" class="btn-login">
							<button type="submit"><b>ログイン</b></button>
						</form>
					</div>
				</div>
				
				<div id="registerContain" class="panelTop">
					<div class="clipRegiContainer">
						<div class="clipRegi">
							<form action="/register" class="btn-register">
								<button type="submit"><b>レジスター</b></button>
							</form>
						</div>
					</div>
				</div>
			</div>

			<% } %>  

			<div id="headerRight" class="panelLeft">	

				<div class="outlineLeft">

				</div>

			</div>

		</div>

		<div id="main">
			<div id="mainGame" class="outline">
				<img
					src="../public/media/path.svg"
					alt="Start Game"
					height="87"
					width="100" />
			</div>
		</div>

		<div id="footer">
			<div id="footerLeft" class="panelRight">
				<div id="idkyet" class="outline"></div>
			</div>
			<div id="collectionTitle" >
				<a><b>コレクション</b></a>
			</div>
			<div id="footerRight" class="panelLeft">
				<div class="clipCollection outline">

				</div>

			</div>

		</div>

	</div>


</body>
<script src="public/js/jquery.js"></script>
<script>

	/* SPAGHETTTT */

	$("#collectionTitle").on({
		mouseenter: function () {
			
			$(".clipCollection").css({"background":"url('../public/media/punpunColor.png') no-repeat bottom", "background-size":"cover", "background-position":"5%"})
		},
		mouseleave: function () {
			
			$(".clipCollection").css({"background":"url('../public/media/punpun.png') no-repeat bottom", "background-size":"cover", "background-position":"5%"})
		}
	})

	$("#mainGame").on({
		mouseenter: function () {
			$("#mainGame").css("filter","none")
		},
		mouseleave: function () {
			$("#mainGame").css("filter","grayscale(100%)")
		}
	})




</script>

</html>