/*======================================
*                 𝙛𝙤𝙣𝙩𝙨                *
======================================*/


@font-face {
    font-family: "Mono";
    src: url("../font/IBMPlexMono-BoldItalic.ttf");
}

@font-face {
    font-family: "PPP";
    src: url("../font/PixelSplitter-Bold.ttf");
}

@font-face {
    font-family: "CCC";
    src: url("../font/Squared\ Display.ttf");
  }

@font-face {
    font-family: "script";
    src: url("../font/scriptgame.ttf");
  }
  @font-face {
    font-family: "CNT";
    src: url("../font/Square.ttf");
  }
  
  @font-face {
    font-family: "AAA";
    src: url("../font/AldotheApache.ttf");
  }
  
  @font-face {
    font-family: "PPP";
    src: url("../font/PixelSplitter-Bold.ttf");
  }
  
  @font-face {
    font-family: "jp_1";
    src: url("../font/851Gkktt_005.ttf");
  }
  
  @font-face {
    font-family: "yasashisa";
    src: url("../font/YasashisaGothicBold-V2.otf");
  }

  @font-face {
    font-family: "zen";
    src: url("../font/ZenKurenaido-Regular.ttf");
} 
@font-face {
    font-family: "va11";
    src: url("../font/va-11-hall-a-6px.ttf");
}

@font-face {
    font-family: "pxl";
    src: url("../font/BestTen-CRT.otf");
}

@font-face {
    font-family: "pxl-math";
    src: url("../font/neoletters.ttf");
}




/*=====                                   ======*/


/***
*** 𝐯𝐚𝐫𝐢𝐚𝐛𝐥𝐞𝐬
–––––––––––––––––––––––––––––––––––––––––––––––––– ***/



:root {
	--main-color: #FFDF9B;
	--accent-color: #FF9B9B;
	--inverse-color: #518EE2;
	--positive-color: #61DE61;
	--negative-color: #FF9B9B;

}


/*======================================
*                 𝐠𝐥𝐨𝐛𝐚𝐥                *
======================================*/


::-webkit-scrollbar {
    width: 10px;
}

:root {
    --black: hsla(120, 100%, 0%, 1);
    --timberwolf: hsla(17, 9%, 85%, 1);
    --rose-dust: hsla(347, 29%, 52%, 1);
}


html {
   /*  background-color: #1f1e33; - 大箭将也 - */
   background-color:  #000;
   caret-color: transparent;
}

html * {
    font-family: "script";
}

b {
    font-family: "yasashisa";
}

a {
    text-decoration: none;
}


body {
    margin: 0;
    background-color: rgb(0, 0, 0);
}

#pageContain{
    height: calc(100% - 10em);
    width: 70vw;
    padding: 4rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition: 0.5s top;
}

#pageContain.hidden {
    top: -10em;
}
#pageContain.anim-fast {
    top: -10em;
    transition: none;
}
#pageContain.anim-slow {
    transition: 1s top;
}

/* i̾n̾t̾r̾o̾
    ====================================================================== */

    #motto {
        font-family: "pxl";
        font-size: 3vw;
        text-shadow: 3px 6px #000, 0px -1px #000, 0px 1px #000, -1px 0px #000, 1px 0px #000, -1px -1px #000, 1px 1px #000, -1px 1px #000, 1px -1px #000;
        color: #FFF;
        position: absolute;
        width: 100%;
        text-align: center;
        z-index: 22;
        top: 2rem;
        left: 3em;
    }

        
    #motto a {
        cursor: pointer;
    }
    
    #intro_motto {
        font-family: "yasashisa";
        font-size: 3vw;
        width: 100%;
        color: #000;
        top: 5rem;
        left: 3em;
        position: fixed;
        text-align: center;
    }
    
    
    #intro {
        position: fixed;
        z-index: 2000000000;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: #000;
        display: none;
        transition: 1s 2.644s background-color ease-in;
        }
    #intro.playing {
        background-color: #FFF;
    }
    #intro.destroyed {
        transition: 1s opacity;
        opacity: 0;
        pointer-events: none;
    }
    
    #intro_logo {
        width: 10vw;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        filter: brightness(0);
        opacity: 1;
        
        transition: 0.5s filter, 3.644s top, 1s 2.644s opacity ease-in;
    }
    #intro.playing #intro_logo {
        filter: brightness(1);
        top: calc(50% + 1vw);
        opacity: 0;
    }
    
    
    #intro_welcome {
        width: 100%;
        position: fixed;
        top: calc(50% + 7vw);
        font-family: "Mono", sans-serif;
        font-size: 2em;
        color: #FFF;
        opacity: 0;
        text-shadow: 0px 0px 0px #FFF;
        text-align: center;
        
        transition: 3.644s top, 2s 1s opacity, 2s 1s text-shadow;
    }
    #intro.playing #intro_welcome {
        top: calc(50% + 8vw);
        opacity: 1;
        text-shadow: 0px 0px 4px #FFF;
    }
    
    
    
    #loading-box {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        z-index: 1000000000;
        transition: opacity 0.2s;
        }
        
    #loading-box.finished {
        opacity: 0;
        pointer-events: none;
    }
        
    #loading-box {
        display: none !important;
    }
    
    
    #intro_vid {
        width: 30%;
        height: 30%;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        filter: brightness(0);
        background: url('../media/intro/intropen.gif') center center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 1;
    
        transition: 0.5s filter, 3.644s top, 1s 2.644s opacity ease-in;
    }
    #intro.playing #intro_vid {
        filter: brightness(1);
        top: calc(50% + 1vw);
        opacity: 0;
    }
    
    #intro_vid_bg {
        width: 100%;
        height: 100%;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        filter: brightness(0) blur(3rem);
        background: url('../media/intro/intropen.gif') center center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 1;
        z-index: -22;
        
    
        transition: 0.5s filter, 3.644s top, 1s 2.644s opacity ease-in;
    }
    
    #intro.playing #intro_vid_bg {
        filter: brightness(1) blur(2rem);
        top: calc(50% + 1vw);
        opacity: 0;
    }
    

/*======================================
*                 𝐡𝐞𝐚𝐝𝐞𝐫                *
======================================*/


#headers {
    display: grid;
    grid-template-columns: 90% 10%;
    height: 25vh;
}

#header {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 8%;
    height: 25vh;
}

#headerLeft {
    grid-column: 1/span 3;
}

#headerLeftSplit {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-column: 1/span 3;
    
}

#headerRight  {
    grid-column:3/-1;
}

#headerRight, #headerLeftSplit, #headerLeft  {
    grid-row: 1/2;
}

/* squeeze
    ====================================================================== */

    #headerSqueeze {
        grid-column: 2/-1;
        display: flex;
        flex-direction: column-reverse;
        font-family: "va11";
        font-size: 1.2em;
        border-right: 5px solid black;
        position: relative;
    }

    .header-knob {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        cursor: pointer;
        justify-items: start;
    }

    .header-knob-text {
        background-color: #000;
        color: #FFF;
        height: 2em;
    }

/** 𝐬𝐞𝐭𝐭𝐢𝐧𝐠𝐬
    ====================================================================== **/


    .header-knob span:first-child {
        color: red;
        grid-column: 1;
    }

    .header-knob span:nth-child(2) {
        grid-column: 2;
    }

    #header-knobs_preferences {
        width: 100%;
    }


    #preferences-wrapper {
        background-color: rgba(0, 0, 0, 0.8);
        transition: 0.3s background-color;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 5000000;
    }

    #preferences-wrapper.hidden {
        background-color: rgba(0, 0, 0, 0);
        pointer-events: none;
    }

    #preferences {
        position: absolute;
        width: 50em;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
        padding: 1em;
        background-color: #000;
        border: 1px solid var(--inverse-color);
        color: var(--inverse-color);
        transition: 0.3s top, 0.3s transform, 0.3s opacity;
    }

    #preferences-wrapper.hidden #preferences {
        top: 100%;
        opacity: 0;
        transform: translate(-50%, 0) rotate(2deg);
    }

    #preflist {
        max-height: 60vh;
        overflow-y: auto;
    }

    #preferences h1 {
        font-family: "CNT", sans-serif;
        font-size: 2em;
        border-bottom: 1px solid var(--inverse-color);
        padding-bottom: 0.25em;
    }

    #preferences-close {
        color: #000;
        text-align: center;
        font-family: "Heading", sans-serif;
        font-size: 2em;
        margin: -0.5em;
        margin-top: 0.5em;
        background-color: var(--inverse-color);
        padding: 0.25em;
        text-decoration: none;
    }

    .preference {
        padding: 0.5em;
        display: inline-block;
        width: calc(100% - 1em);
        vertical-align: middle;

        transition: 0.3s filter, 0.3s opacity;
    }

    .preference.disabled {
        filter: grayscale(100%);
        opacity: 0.5;
    }

    .preference>* {
        display: inline-block;
        float: right;
    }

    .preference.disabled>* {
        pointer-events: none;
    }

    .preference>.explanation {
        float: left;
    }

    .explanation h2 {
        font-family: "mono", sans-serif;
    }

    .explanation p {
        font-family: "zen", sans-serif;
        margin-bottom: -0.2em;
    }

    .preferences-link {
        border-bottom: 1px solid var(--inverse-color);
        margin-left: 0.5em;
        display: inline;
        font-family: "Tiny", sans-serif;
    }

    .switch {
        display: inline-block;
    }

    .switch .switch-option {
        --color: #FFF;
        width: 2em;
        text-align: center;
        padding: 0.25em;
        border: 1px solid var(--color);
        color: var(--color);
        display: inline-block;
        position: relative;
        top: 0;
        box-shadow: 0px 3px var(--color);
        cursor: pointer;
    }

    .switch .switch-option.selected {
        top: 2px;
        color: #000;
        background-color: var(--color);
        box-shadow: 0px 1px var(--color);
    }

    .switch-option.negative {
        --color: var(--negative-color);
    }

    .switch-option.inverse {
        --color:
        var(--inverse-color);
    }

    .switch-option.positive {
        --color: var(--positive-color);
    }

    .slider {
        --color: var(--inverse-color);
        -webkit-appearance: none;
        border: 1px solid var(--color);
        width: 10em;
        height: 1px;
        background-color: #000;
        outline: none;
        padding: 0;
        margin-top: 0.5em;
        margin-right: 0;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 16px;
        height: 16px;
        background: var(--color);
        border: none;
        border-radius: 0px;
    }

    .slider::-moz-range-thumb {
        width: 16px;
        height: 16px;
        background: var(--color);
        border: none;
        border-radius: 0px;
    }

    .slider::-webkit-slider-runnable-track {
        opacity: 1;
        cursor: pointer;
    }

    .slider::-moz-range-track {
        opacity: 0;
    }

/** BGM start
    ====================================================================== **/

    #playBGM {
        cursor: pointer;
    }


    #playBGM.disabled {
        filter: grayscale(100%);
        opacity: 0.5;
        pointer-events: none;
    }

/** random Kanji
    ====================================================================== **/

    #無作為 {
        background: url("../media/logo.png") no-repeat center;
        background-size: cover;
        max-width: 9vh;
        max-height: 9vh;
        width:100%;
        height:100%;
    }

/* 𝘤𝘭𝘪𝘱𝘴
    ====================================================================== */

    .clipLogOut  {
        height: 100%;
        background-color: #000;
        position: relative;
        cursor: pointer;

    }

    .clipLogOut::before {
        content: '';
        width: calc(100% - 3px);
        height: calc(100% - 3px);
        background: url("../media/pxlgrl.jpg") no-repeat center;
        background-size: cover;
        display: block;
        position: absolute;
        top: 1.5px;
        left: 1.5px;
        transform: scale(0.97);
    }

    .clipLogOut, .clipLogOut:before {
        clip-path: polygon(0 0, 100% 0, 78% 100%, 0% 100%);
    }

    .panelTop {
        padding-top: 0.5em;
    }
    
    
    .panelBot {
        padding-bottom: 0.5em;
    }
    
    
    .panelRight {
        padding-right: 0.5em;
    }
    
    
    .panelLeft {
        padding-left: 0.5em;
    }
    
    .outline {
        border:#000 solid;
        border-top-width: 5px;
        border-bottom-width: 5px;
        border-right-width: 7px;
        border-left-width:7px;
        height: 100%;
    }
    
    .clipLogIn  {
        cursor: pointer;
        height: 100%;
        background-color: #000;
        position: relative;
    
    }
    
    .clipLogIn::before {
        content: '';
        width: calc(100% - 3px);
        height: calc(100% - 3px);
        background: url("../media/panelLogIn.jpg") no-repeat center;
        background-size: cover;
        display: block;
        position: absolute;
        top: 1.5px;
        left: 1.5px;
        transform: scale(0.97);
    }
    
    .clipLogIn, .clipLogIn:before {
        clip-path: polygon(0 0, 100% 0, 89% 100%, 0% 100%);
    }
    
    
    .clipLogOut b {
        position: absolute;
        left:4%;
        top:5%;
        font-size: 1.2vw;
        color:#FFF !important;
        writing-mode: vertical-rl;
        text-orientation: upright;
    }
    
    .clipLogIn b {
        position: absolute;
        right:13%;
        top:10%;
        font-size: 1.2rem;
        writing-mode: vertical-rl;
        text-orientation: upright;
    }
    
    .clipRegi b {
        position: absolute;
        left:5%;
        top:10%;
        font-size: 1.2rem;
        writing-mode: vertical-rl;
        text-orientation: upright;
    }
    
    .clipRegiContainer  {
        border-left: 1px solid black;
        height: 100%;
        position: relative;
    }
    
    .clipRegi  {  
        cursor: pointer;
        height: 100%;
        width: 88%;
        background-color: black;
        position: relative;
    }
    
    .clipRegi::before {
        content: '';
        width: calc(100% - 3px);
        height: calc(100% - 3px);
        background: url("../media/panelRegister.jpg") no-repeat center;
        background-size: cover;
        display: block;
        position: absolute;
        top:1.5px;
        left:1.5px;
        transform: scale(0.97);
    }
    
    .clipRegi, .clipRegi:before {
        clip-path: polygon(0 0, 100% 0, 89% 100%, 0% 100%);
    }
    
    
    .outlineLeft  {
        height: 100%;
        background-color: black;
        position: relative;
        
    }
    
    .outlineLeft::before {
        content: "";
        font-size: 3vw;
        font-family: "yasashisa";
        text-shadow: 3px 6px #000, 0px -1px #000, 0px 1px #000, -1px 0px #000, 1px 0px #000, -1px -1px #000, 1px 1px #000, -1px 1px #000, 1px -1px #000;
        color: #FFF;
        width: calc(100% - 3px);
        height: calc(100% - 3px);
        background: url("../media/drowning_in_anim.gif") no-repeat;
        background-size: cover;
        background-position: 50% 70%;
        display: block;
        position: absolute;
        top:1.5px;
        left:1.5px;
        transform: scale(0.99);
    }
    
    .outlineLeft, .outlineLeft:before {
        clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
    }
    
    .clipBot  {
        height: 100%;
        background-color: black;
        position: relative;
        
    }
    
    .clipBot::before {
        content: '';
        width: calc(100% - 3px);
        height: calc(100% - 3px);
        /*background: url("public/media/panelRegister.jpg") no-repeat center;
        background-size: cover;*/
        display: block;
        position: absolute;
        top:1.5px;
        left:1.5px;
    }
    
    .clipBot, .clipBot:before {
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
    }
    
    
    .clipTop  {
        height: 100%;
        background-color: black;
        position: relative;
        
    }
    
    .clipTop::before {
        content: '';
        width: calc(100% - 3px);
        height: calc(100% - 3px);
        /*background: url("public/media/panelRegister.jpg") no-repeat center;
        background-size: cover;*/
        display: block;
        position: absolute;
        top:1.5px;
        left:1.5px;
    }
    
    .clipTop, .clipTop:before {
        clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
    }


/*======================================
*                 か - ka                *
======================================*/


.spacer {
    margin-top: 15vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.spacer .mask {
    overflow: hidden;
    height: 5px;
}
.spacer .mask:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px / 12px;
    box-shadow: 0 0 8px white;
}



.masker {
    width: 10vw;
    height: 2vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
}
.spacer span {
    width: 20vw;
    height: 50px;
    position: absolute;
    bottom: 100%;
    margin-bottom: -18px;
    left: 50%;
    margin-left: -10vw;
    z-index: 2;
}

.spacer span h2 {
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    right: 4px;
    text-align: center;
    line-height: 40px;
    font-family: "yasashisa";
    font-size: 4vw;
    color: hsla(17, 9%, 85%, 0.4)
}
.spacer span i {
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    right: 4px;
    text-align: center;
    line-height: 40px;
    font-family: "yasashisa";
    font-size: 3vw;
}

#か{
    color: orange;
    text-shadow: 0.25rem 0 0 #000, -0.25rem 0 0 #000, 0.35rem 0 0 #000, -0.35rem 0 0 #000, 0.45rem 0 0 #000, -0.45rem 0 0 #000, 0 0.25rem 0 #000, 0 -0.25rem 0 #000, 0 0.35rem 0 #000, 0 -0.35rem 0 #000, 0 0.45rem 0 #000, 0 -0.45rem 0 #000;
}




.spacer span h5 {
    position: absolute;
    top: 52px;
    left: 4px;
    right: -130px;
    font-family: "yasashisa";
    font-size: 1vw;
    color: white;
}

#nichijou {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 80% 20%;
    height: 20vmax;

}

#nichi-tests {
    display: flex;
    flex-direction: column;
    grid-column: 1;

}

#nichi-tests h2 {
    font-size: 1.5rem;
    font-family: "va11";
    margin-bottom: 2vh;
    margin-top: 2vh;
    color: orange;
}

#nichi-tests h3 {
    font-size: 1.2rem;
    font-family: "va11";
    margin-bottom: 1vh;
    margin-top: 1vh;
    color: white;
}



#nichi-main {
    grid-column: 2;
    display: grid;
    grid-template-rows: 1fr 1fr;

}


.clock {
    justify-self: center;
    grid-row: 1;
    color: #2095f0;
    width: 80%;
    font-weight: 400;
    margin-top: 5vh;
    font-family: 'va11';
}
.clock span {
    text-align: center;
    text-indent: 0;
    display: block;
    margin: 10px 0;
    text-shadow: 0 0 8px;
    width: 98%;
}
.clock .time {
    font-weight: 900;
    font-size: 3em;
    text-shadow: 0 0 10px;
}

.clock h2 {
    font-weight: 200;
    font-size: 2em;
    text-shadow: 0 0 10px;
}

.nichi-play {
    justify-self: center;
    align-self: center;
    grid-row: 2;
    width: 100%;

}

.nichiPlay {

    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: var(--color);
	transition: 0.25s;
    cursor: pointer;
}

.nichiPlay:focus,
.nichiPlay:hover {
    border-color: var(--hover);
	color: #fff;
}

.pulse {
    --color: #ef6eae;
	--hover: #ef8f6e;
}

.pulse:hover, 
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}


.tests-container {
    width: 100%;
    min-height: 5vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.n4-btn {
    grid-column: 1;
    grid-row: 1;
}

.n3-btn {
    grid-column: 1;
    grid-row: 2;
}

.n2-btn {
    grid-column: 2;
    grid-row: 1;
}

.n1-btn {
    grid-column: 2;
    grid-row: 2;
}


.nichi-count {
    grid-column: 3;
    justify-self: center;
    align-self: center;
    font-size: 5rem;
    font-family: "va11";
    color: red;
}




#shiritori {
    cursor: pointer;
    transition: 0.8s linear;
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 28%;
}

#main-bg {
    grid-column: 1/-1;
    background: url("../media/end.jpg") no-repeat;
    background-position: center center;
    background-size: cover;
    filter: grayscale(100%);
    transition: 0.5s linear;
}

#n5, #n4, #anki, #main-bg  {
    grid-row: 1/2;
    z-index: 2;
}

#n5, #n4, #anki {
    writing-mode: vertical-rl;
    text-orientation: upright;
    color:#FFF;
    text-align: center;
}


#n5, #n4 {
    font-family: "AAA";
    font-size: 1rem;
    line-height: 18;
    text-shadow: 0 0 2px #000;
}

#n5  {
    height: 100%;
    position: relative;
    grid-column: 1/ span 2;
}

#n5::before {
    content: '';
    width: calc(100% - 3px);
    height: calc(100% - 3px);
    display: block;
    position: absolute;
    top: 1.5px;
    left: 1.5px;
}

#n5, #n5::before {
    clip-path: polygon(0 0, 100% 0, 89% 100%, 0% 100%);
}

#n4  {
    height: 100%;
    position: relative;
    grid-column: 2/4;

}

#n4::before {
    content: '';
    width: calc(100% - 3px);
    height: calc(100% - 3px);
    display: block;
    position: absolute;
    top: 1.5px;
    left: 1.5px;
}

#n4, #n4::before {
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
}


#n5:hover {
    background-color:rgba(255, 255, 255, 0.182);
}

#n4:hover {
    background-color:rgba(255, 255, 255, 0.182);
}






/*======================================
*                 り - ri              *　
======================================*/

#り{
    color: rgb(0, 0, 0);
    text-shadow: 0.25rem 0 0 #fff, -0.25rem 0 0 #fff, 0.35rem 0 0 #fff, -0.35rem 0 0 #fff, 0.45rem 0 0 #fff, -0.45rem 0 0 #fff, 0 0.25rem 0 #fff, 0 -0.25rem 0 #fff, 0 0.35rem 0 #fff, 0 -0.35rem 0 #fff, 0 0.45rem 0 #fff, 0 -0.45rem 0 #fff;
}

#rikai {
    display: grid;
    grid-template-columns: 80% 20%;
    height: 20vh;
}

.collection {
    grid-column: 1;
    align-self: center;
}

.collection-btn {
    background: none;
    float: left;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: var(--color);
	transition: 0.25s;
    cursor: pointer;
    height: 5vh;
    width: 15vw;
}

.collection-btn:focus,
.collection-btn:hover {
    border-color: var(--hover);
	color: #fff;
}

.pulse-collec {
    --color: #8a88f1;
	--hover: #000ba1;
}

.pulse-collec:hover, 
.pulse-collec:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

#kuroTitle {
    grid-column:2/-1;
}


#collectionTitle {
    grid-column:2/-1;
    z-index: 2222222222;
}

.txtPanelBubble {
    background-color: white;
    transition: 0.5s linear;
    border-left: 5px solid black;
    text-orientation: upright;
    writing-mode: vertical-rl;
    text-align: center;
}

.txtPanelHira {
    font-size: 1.5rem;
    line-height: 80px;
}

.txtPanelRoma {
    font-size: 0.8rem;
    line-height: 10px;
    display: none;
}

.oldCollection:hover {
    display: block;
    -webkit-animation: fadeOut 1s;
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

#collectionTitle, #footerRight  {
    grid-row: 2/-1;
}

#mainBubble{
    position: relative;
    grid-column: 2;
    margin-top: 10;
    height: 200px; 
    width: 100px; 
    max-width: 100%;
    max-height: 100%;
    background-image: url(../media/bubble.png);
    background-size:contain;
    background-repeat: no-repeat;
}

#mainBubble b {
    writing-mode: vertical-rl;
    text-orientation: upright;
}

#bubbleRightTxt   {
    position: absolute;
    top:12;
    right:20;
    font-size: 1.2rem;
}


#bubbleLeftTxt {
    position: absolute;
    top:62;
    left:20;
    font-size: 1.5rem;
}


.splitVert  {
    margin-top: 1.5vw;
    margin-bottom: 3vw;
}


.splitHori  {
    margin-right: 1.5vw;
    margin-left: 3vw;
}



#difficultyShiri {
    display: none;
}


/*======================================
*                 こ - ko            *　
======================================*/

#こ{
    color: rgb(255, 255, 255);
    text-shadow: 0.25rem 0 0 #000, -0.25rem 0 0 #000, 0.35rem 0 0 #000, -0.35rem 0 0 #000, 0.45rem 0 0 #000, -0.45rem 0 0 #000, 0 0.25rem 0 #000, 0 -0.25rem 0 #000, 0 0.35rem 0 #000, 0 -0.35rem 0 #000, 0 0.45rem 0 #000, 0 -0.45rem 0 #000;
}

#kosuru {
    display: grid;
    grid-template-columns: 80% 20%;
    height: 20vmax;
}

.scraper {
    grid-column: 1;
    align-self: center;
}

.scraper-btn {
    background: none;
    float: left;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: var(--color);
	transition: 0.25s;
    cursor: pointer;
    height: 5vh;
    width: 15vw;
}

.scraper-btn:focus,
.scraper-btn:hover {
    border-color: var(--hover);
	color: #fff;
}

.pulse-scraper {
    --color: #8a88f1;
	--hover: #000ba1;
}

.pulse-scraper:hover, 
.pulse-scraper:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}