@import url(https://fonts.googleapis.com/css?family=Montserrat);

@font-face {
  font-family: "script";
  src: url("../font/scriptgame.ttf");
}
@font-face {
  font-family: "CNT";
  src: url("../font/Square.ttf");
}

@font-face {
  font-family: "CCC";
  src: url("../font/Squared\ Display.ttf");
}

@font-face {
  font-family: "AAA";
  src: url("../font/AldotheApache.ttf");
}

@font-face {
  font-family: "PPP";
  src: url("../font/PixelSplitter-Bold.ttf");
}

@font-face {
  font-family: "jp_1";
  src: url("../font/851Gkktt_005.ttf");
}

@font-face {
  font-family: "yasashisa";
  src: url("../font/YasashisaGothicBold-V2.otf");
}

@font-face {
  font-family: "zero";
  src: url("../font/ZeroGothic.otf");
}
::-webkit-scrollbar {
  width: 10px;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {

	color: #FFF;
	font-family: "script", sans-serif;
	font-size: 12px;
  background-image: url("../media/bg2.jpg");
  background-size: cover;

}

a {
  color: #FFFFFF;
  text-decoration: none;
}


body{

  font-family: 'jp_1';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  line-height: 1; /* -- Idk at this point  -- */
}


/* body:after {
	content: "";
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 1000;
	background-image: url(../media/overlay2.png);
	background-repeat: all;
	background-position: 0px 0px;
	animation-name: Static;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-timing-function: steps(4);
} */

/* ---                     --- */

body::-webkit-scrollbar {
  width: 1em;
}

canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -100;
  opacity:0.65;
}

.tokiWoTomare{
  pointer-events:none;
  filter: blur(20px);
}

.hidden {
  display: none;
}

label {
  margin-bottom: 10px;
  display: block;
}

p {
  font-family: "yasashisa";
}

header{
  font-family: 'jp_1';
  position: fixed;
  width: 100%;
  top: 0;
	left: 0;
  font-size: 1.8rem;
}
.g-nav{
  z-index: 1000;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;

}

header button {
  width: 100%;
  height: 10%;
  font-size:1em;
  transition: 0.3s;
  border: 1px solid #6E796F;
  color: #6E796F;
  box-shadow: 0px 4px #F8ECD1;
  padding: 10px;
}

header button:hover {
  border: 1px solid rgb(255, 255, 0);
  color: rgb(255, 255, 0);
  box-shadow: 0px 8px rgb(255, 255, 0), 0px 8px 32px rgba(255, 225, 0, 0.3), inset 0px 8px 32px rgba(255, 255, 0, 0.3);
} 


.content {
  margin-top: 20vh;
  position: relative;
  display: flex;
  flex-direction: row;
  
  justify-content:space-around;
  width: 100%;
  
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.rightList {
  border: 2px solid rgb(120, 143, 227);
 
  background-color: #000;
  box-shadow: inset 0px 2px 12px rgba(255, 255, 255, 0.4); 
}

.rightList h2 {
  font-size: 2em;
}


.wrongList {
  background-color: #000;
  border: 2px solid rgb(227, 120, 120);
 
  box-shadow: inset 0px 2px 12px rgba(255, 255, 255, 0.4); 
}

.wrongList h2 {
  font-size: 2em;
}

.list{
  text-align: center;
  max-height:60vh;
  overflow: scroll;
  scrollbar-color: white;
  width: 30em;
}

.list h3{
font-size:3em;

}

.willHide {
  display:flex;
}

.reset{
  display:block;
  width: 35%;
  height: 7%;
  font-size: 3em;
  transition: 0.6s;
  position: absolute; 
  left: 0; 
  right: 0;
  bottom: 0; 
  margin-left: auto; 
  margin-right: auto; 
}

.reset:hover{
  border: 1px solid rgb(255, 0, 0);
  color: rgb(255, 0, 0);
  box-shadow: 0px 8px rgb(255, 0, 0), 0px 8px 32px rgba(255, 0, 0, 0.3), inset 0px 8px 32px rgba(255, 0, 0, 0.3);
}

#start{
  padding:1.5vh;
  margin-top: 5vh;
  z-index: 222;
  font-size: 4rem;
  font-family: 'jp_1';
}

#rules {
  margin-top: 20vh;
  text-align: center;
  font-size: 1.8rem;
  width: 100%;
  bottom:40vh;
}


.main-ui {
  position: relative;
  width: 60em;
  padding: 1em;
  margin-top: 10vh;
  height: 30vh;
  transition: 1s;
  color: #ffffff;
  padding-bottom: 2.45em;
}


.kanji {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 6rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: white;
}

.our-field {
  font-size: 3.45em;
  width: calc(100% - 2px);
  background-color: #000;
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-family: "yasashisa";
  letter-spacing: 6px;
  text-align: center;
  outline: none;
}

.our-field:focus {
  transition: 0.3s;
  box-shadow: inset 0px 8px 64px rgba(255, 255, 255, 0.4); 
 
}



button {
  font-family: 'jp_1';
  margin-top: 0.4em;
  background-color: #000;
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 1.2em;
  cursor: pointer;

  position: relative;
  box-shadow: 0px 8px rgb(255, 255, 255), 0px 8px 32px rgba(255, 255, 255, 0.3);
}

button:hover {
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0px 4px rgb(255, 255, 255), 0px 8px 64px rgba(255, 255, 255, 0.4), inset 0px 8px 64px rgba(255, 255, 255, 0.4);
}


#submit-btn {

  font-size: 3em;
  width: 100%;
  margin-top: 0.4em;
  position: relative;
  top: 0px;
}

#submit-btn:hover {
  color: #F80;
  border: 1px solid #F80;
  box-shadow: 0px 4px #F80, 0px 8px 64px rgba(255,155,0,0.4), inset 0px 8px 64px rgba(255,155,0,0.4);
  top: 4px;
}

#tableau th h1 {
  font-weight: bold;
  font-size: 1em;
  text-align: left;
  color: #185875;
}

#tableau td {
  font-weight: normal;
  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
  box-shadow: 0 2px 2px -2px #0E1119;
}

#tableau {
  font-family: "yasashisa";
  font-size: 1.5em;
  text-align: center;
  overflow: hidden;
  width: 80%;
  margin-top: 10vh;
  margin-left: 20vh;
  display: table;
  padding: 0 0 8em 0;

}

#tableau td, #tableau th {
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left: 2%;
}


/* Background-color of the odd rows */
#tableau tr:nth-child(odd) {
  background-color: #323C50;
}

/* Background-color of the even rows */
#tableau tr:nth-child(even) {
  background-color: #2C3446;
}

#tableau th {
  background-color: #1F2739;
}

#tableau td:first-child {
  color: #FB667A;

  font-size: 1.8em;
}

#tableau tr:hover {
  background-color: #464A52;
  -webkit-box-shadow: 0 6px 6px -6px #0E1119;
  box-shadow: 0 6px 6px -6px #0E1119;
}

#tableau td:hover {
  background-color: #FFF842;
  color: #403E10;
  font-weight: bold;
  -webkit-box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
          box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  -webkit-transform: translate3d(6px, -6px, 0);
          transform: translate3d(6px, -6px, 0);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: line;
          transition-timing-function: line;
}

@media (max-width: 800px) {
  #tableau td:nth-child(4),
  #tableau th:nth-child(4) {
    display: none;
  }
}


.shake-no input {
  color: #F00;
}



.shake-no {
  animation: shake 0.2s linear infinite;
  color: #F00 !important;
  
}

.shake-no .kanji {
  color: #F00;
}

.shake-no .main-ui {
  color: #F00;
}

.shake-no button {
  color: #F00 !important;
  border: 1px solid #F00 !important;
  top: 6px !important;
  box-shadow: 0px 2px #F00, 0px 8px 64px rgba(255,0,0,0.4), inset 0px 8px 64px rgba(255,0,0,0.4) !important;
}

.yes input {
  color: #0F0;
	
}

.yes .kanj {
  color: #0F0;
}

.yes .main-ui {
  box-shadow: 0px 0px 256px rgba(0, 255, 0, 0.3);
  transition: 0.1s;
}

.yes button {
  color: #0F0 !important;
  border: 1px solid #0F0 !important;
  top: 6px !important;
  box-shadow: 0px 2px #0F0, 0px 8px 64px rgba(0,255,0,0.4), inset 0px 8px 64px rgba(0,255,0,0.4) !important;
}

.pulsing {
  animation: pulse 0.5s; 
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes pulse{
  0%, 100%{
    transform: scale(1);
      opacity: 1;
  }
  50%{
    transform: scale(0);
    opacity: 0.1;
      
  }
}

@keyframes Static {
	0% { background-position: 0px 0px; }
	100% { background-position: 0px 4px; }
}

@keyframes FadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes ZoomIn {
	from { opacity: 0; transform: scale(0.5); }
	to { opacity: 1; transform: scale(1); }
}


#jin-pop {
  font-family: 'yasashisa';
	position: fixed;
	left: 0;
	top: 10%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	font-size: 2em;
	letter-spacing: -6px;
	color: #FFF;
	text-align: center;
	z-index: 1500000;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	text-shadow: 0px 0px 4px #FFF;
	opacity: 1;
	max-height: 2em;
	transition: 0.4s opacity, 0.3s max-height, 0.3s padding-top, 0.3s padding-bottom;
	pointer-events: none;
  animation: FadeIn 2s;
  animation: ZoomIn 0.3s;
}

#jin-pop.hidden {
	opacity: 0;
	max-height: 0;
	padding-top: 0;
	padding-bottom: 0;
  animation: FadeIn 0.5s reverse;
  animation: ZoomIn 0.5s reverse;
}

#jin-pop h3 {
  font-size: 2em;
}

#countdown {
  font-family: CNT;
  position: fixed;
  text-align: center;
  top: 30%;
  width: 100vw;
  font-size: 20em;
  margin: 0;
  color: rgba(255, 255, 0, 0.7);
  text-shadow: 0px 1vh rgba(255, 255, 0, 0.4), 0px 1vh 5vh rgb(255 255 0 / 40%);
  z-index: 1000;
  mix-blend-mode: lighten;
}

#timer {
  font-family: CNT;
  position: fixed;
  text-align: center;
  top: 20vh;
  width: 100vw;
  font-size: 6em;
  margin: 0;
  color: #fff;
  text-shadow: 0px 1vh rgba(133, 88, 111, 0.2), 0px 1vh 5vh rgb(133 88 111 / 20%);
  z-index: 1000;
  mix-blend-mode: lighten;
}

#ms {
  font-size: 0.6em;
  display: inline-block;
  width: 1em;
  text-align: left;
}


.score{
  font-family: 'jp_1';
  text-align: right;
}

.acc{
  display:inline;
  float:right;
}

.combo{
  display: none;
}

.wrong{
  display: none;
}

.combo-mark{
  float: left;
}

.acc-mark{
  display: inline;
  float: right;
}

.rank {
  float:right;
  margin-right: 1vw;
}

.hud{
  z-index: 2222;
  font-size: 30px;
}

.restartButton{
  width: 100%;
  height: 10%;
  font-size: 3em;
  transition: 0.3s;
  border: 1px solid #323C50;
  color: #323C50;
  box-shadow: 0px 8px rgb(255, 255, 0);

}

.restartButton:hover {
  border: 1px solid rgb(255, 255, 0);
  color: rgb(255, 255, 0);
  box-shadow: 0px 8px rgb(255, 255, 0), 0px 8px 32px rgba(255, 225, 0, 0.3), inset 0px 8px 32px rgba(255, 255, 0, 0.3);
}

#resultScreen{
  width: 100%;
  height: 100%;
}


#resultscreen h1, h2{
  text-align: center;
}

#scoreres  h2{
  font-size: 1em;
}


#scoreres {
  margin-top: 30;
  font-size: 2em;
  margin-bottom: 50;
}

#finalrank {
  margin-top: 50;
  font-size: 20em;
  width: 100%;
  text-align: center;
}

#seebelow{
  margin-top: 50;
}
