@import url(https://fonts.googleapis.com/css?family=Montserrat);


body {
	background: #000;
}

body::-webkit-scrollbar {
  width: 1em;
}


button {
  cursor: pointer;
  background: rgb(2, 51, 73);
  line-height: 44px;
  color:white;
  padding: 0 24px;
  border-radius: 4px;
  border: 1px solid #ffffff12;
  margin: 32px auto;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: fit-content;
  
  &:hover {
    border: 1px solid #ffffff16;
    background: #ededed0f;
  }
  &:active {
    transform: scale(0.96);
  }
}

@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

#twinkling_stars{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: #000 url(/media/stars.png) repeat top center;
  z-index: 0;
  mix-blend-mode: lighten;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
}

#twinkling_stars::after{
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: transparent url(/media/twinkling.png) repeat top center;
  z-index: 1;
  animation: 200s move-twink-back linear infinite;
  mix-blend-mode: darken;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
}


.kanji {
    text-transform: uppercase;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 70px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.wrong-anim {
  color:red;
}
.right-anim {
  color:rgb(77, 224, 77);
}


.tableau th h1 {
  font-weight: bold;
  font-size: 1em;
text-align: left;
color: #185875;
}

.tableau td {
  font-weight: normal;
  font-size: 1em;
-webkit-box-shadow: 0 2px 2px -2px #0E1119;
   -moz-box-shadow: 0 2px 2px -2px #0E1119;
        box-shadow: 0 2px 2px -2px #0E1119;
}

.tableau {
  text-align: left;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
display: table;
padding: 0 0 8em 0;
}

.tableau td, .tableau th {
  padding-bottom: 2%;
  padding-top: 2%;
padding-left:2%;  
}

/* Background-color of the odd rows */
.tableau tr:nth-child(odd) {
  background-color: #323C50;
}

/* Background-color of the even rows */
.tableau tr:nth-child(even) {
  background-color: #2C3446;
}

.tableau th {
  background-color: #1F2739;
}

.tableau td:first-child { color: #FB667A; }

.tableau tr:hover {
 background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
   -moz-box-shadow: 0 6px 6px -6px #0E1119;
        box-shadow: 0 6px 6px -6px #0E1119;
}

.tableau td:hover {
background-color: #FFF842;
color: #403E10;
font-weight: bold;

box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
transform: translate3d(6px, -6px, 0);

transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
transition-timing-function: line;
}

@media (max-width: 800px) {
.tableau td:nth-child(4),
.tableau th:nth-child(4) { display: none; }
}