@import url(https://fonts.googleapis.com/css?family=Montserrat);

@font-face {
  font-family: "script";
  src: url("../media/font/scriptgame.ttf");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  background-color: #000;
	color: #FFF;
	font-family: "script", sans-serif;
	font-size: 16px;
}

body{
  background: url(../media/flood.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -100px;
  opacity: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  line-height: 1; /* -- Idk at this point  -- */
}

/* ---      Scanlines      --- */
body:before {
	content: "";
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 1000;
	background-image: url(../media/overlay.png);
	background-repeat: all;
	background-position: 0px 0px;
	animation-name: Static;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: steps(4);
	box-shadow: inset 0px 0px 10em rgba(0,0,0,0.4);
}

body:after {
	content: "";
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 1000;
	background-image: url(../media/overlay2.png);
	background-repeat: all;
	background-position: 0px 0px;
	animation-name: Static;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-timing-function: steps(4);
}

/* ---                     --- */

body::-webkit-scrollbar {
  width: 1em;
}

canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -100;
  opacity: 0.5;
}

.main-ui {
  background-color: #000;
  width: 60em;
  padding: 1em;
  overflow-y: hidden;
  max-height: 100vh;
  transition: 1s;
  box-shadow: 0px 0px 256px rgb(255 255 0 / 20%);
  padding-bottom: 1.2em;
}

.timerBtn {
  
}

.kanji {
  text-transform: uppercase;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 70px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: hsl(186.821, 37.6957%, 60%)
}

.our-field {
  font-size: 3.45em;
  width: calc(100% - 2px);
  background-color: #000;
  border: 1px solid rgb(0, 238, 255);
  color: rgb(0, 238, 255);
  font-family: Heading;
  letter-spacing: 6px;
  text-align: center;
  box-shadow: 0px 4px rgb(0, 238, 255);;
}

#submit-btn {
  font-family: "script";
  font-size: 3em;
  width: 100%;
  background-color: #000;
  border: 1px solid rgb(0, 238, 255);;
  color: rgb(0, 238, 255);
  text-align: center;
  margin-top: 0.4em;
  cursor: pointer;
  box-shadow: 0px 8px rgb(0, 238, 255), 0px 8px 32px rgba(0, 225, 255, 0.3), inset 0px 8px 32px rgba(0, 197, 247, 0.3);
  position: relative;
  top: 0px;
}

#tableau th h1 {
  font-weight: bold;
  font-size: 1em;
  text-align: left;
  color: #185875;
}

#tableau td {
  font-weight: normal;
  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
  box-shadow: 0 2px 2px -2px #0E1119;
}

#tableau {
  text-align: left;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

#tableau td, #tableau th {
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left: 2%;
}

/* Background-color of the odd rows */
#tableau tr:nth-child(odd) {
  background-color: #323C50;
}

/* Background-color of the even rows */
#tableau tr:nth-child(even) {
  background-color: #2C3446;
}

#tableau th {
  background-color: #1F2739;
}

#tableau td:first-child {
  color: #FB667A;
}

#tableau tr:hover {
  background-color: #464A52;
  -webkit-box-shadow: 0 6px 6px -6px #0E1119;
  box-shadow: 0 6px 6px -6px #0E1119;
}

#tableau td:hover {
  background-color: #FFF842;
  color: #403E10;
  font-weight: bold;
  -webkit-box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
          box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  -webkit-transform: translate3d(6px, -6px, 0);
          transform: translate3d(6px, -6px, 0);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: line;
          transition-timing-function: line;
}

@media (max-width: 800px) {
  #tableau td:nth-child(4),
  #tableau th:nth-child(4) {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */

.shake-no {
  filter: hue-rotate(360deg) saturate(130%);
  animation: shake 0.2s linear infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes Static {
	0% { background-position: 0px 0px; }
	100% { background-position: 0px 4px; }
}


#jin-pop {
	position: fixed;
	left: 0;
	top: 20%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	border-top: 2px solid var(--inverse-color);
	border-bottom: 2px solid var(--inverse-color);
	font-size: 2em;
	letter-spacing: -6px;
	color: #FFF;
	text-align: center;
	z-index: 1500000;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	text-shadow: 0px 0px 4px #FFF;
	opacity: 1;
	max-height: 2em;
	transition: 0.3s opacity, 0.3s max-height, 0.3s padding-top, 0.3s padding-bottom;
	pointer-events: none;
}

#jin-pop.hidden {
	opacity: 0;
	max-height: 0;
	padding-top: 0;
	padding-bottom: 0;
}

#header {
  position: relative;
  margin: auto;
  margin-top: 45px;
  margin-bottom: 40px;
  height: 40px;
  width: 40px;
  text-align: center;
}

#countdown-number {
  color: white;
  display: inline-block;
  line-height: 40px;
  position: absolute; /* -- I deeply hate css -- */
  top:50;
  right:482;
  z-index: 22;
  font-size: 20;
}

svg {
  position: absolute;
  top: 20;
  right: 450;
  width: 100;
  height: 100;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
  stroke-dasharray: 250px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 3px;
  stroke: rgb(58, 190, 157);
  fill: black;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 250px;
  }
}